<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
  <h3 class='modal-title'>Create Collection</h3>
</div>

<div class='modal-body' data-controller="collection-editor">
  <h4>APO &mdash; <%= @apo.label %></h4>
  <%= form_tag apo_collections_path(@apo.pid), id: 'collection_form',
                                               role: 'form',
                                               data: { behavior: 'collection-form' } do %>
    <div class="form-group" style="padding-left:20px">
      <label class="radio">
        <%= radio_button_tag 'collection_radio', 'create', true, data: { reveal: 'create-collection', action: 'change->collection-editor#toggle' } %>
        Create a Collection from Title/Abstract
      </label>
      <label class="radio">
        <%= radio_button_tag 'collection_radio', 'create', false, data: { reveal: 'create-collection-catkey', action: 'change->collection-editor#toggle' } %>
        Create a Collection from Symphony
      </label>
    </div>
    <div id="create-collection" class="collection_div">
      <div class="form-group">
        <label for="collection_title">
          Collection Title
        </label>
        <%= text_field_tag 'collection_title', nil, class: 'form-control' %>
        <span id="collection_title_warning" class="alert alert-warning" style="display: none">Collection with this title already exists.</span>
      </div>
      <div class="form-group">
        <label for="collection_abstract">
          Collection Abstract
        </label>
        <%= text_area_tag 'collection_abstract', nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="collection_rights">
          Collection Object Visibility
        </label>
        <%= select_tag :collection_rights, options_for_select(Constants::DEFAULT_RIGHTS_OPTIONS, 'world'), class: 'form-control' %>
      </div>
    </div>
    <div id="create-collection-catkey" class="collection_div" style="display:none">
      <div class="form-group">
        <label for="collection_catkey">
          Collection Catkey
        </label>
        <%= text_field_tag 'collection_catkey', nil, class: 'form-control' %>
        <span id="collection_catkey_warning" class="alert alert-warning" style="display: none">Collection with this catkey already exists.</span>
      </div>
      <div class="form-group">
        <label for="collection_rights_catkey">
          Collection Object Visibility
        </label>
        <%= select_tag :collection_rights_catkey, options_for_select(Constants::DEFAULT_RIGHTS_OPTIONS, 'world'), class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= button_tag 'register', id: 'register', class: 'btn btn-secondary' do 'Register Collection' end %>
    </div>

    <% if !request.xhr? %>
      <div class="form-group">
        <%= button_to 'Cancel', solr_document_path(@apo.pid), method: :get, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  <% end %>
</div>
