<%= form_with url: catkey_and_barcode_job_path, class: 'new_bulk_action', data: { turbo_frame: '_top' } do |f| %>
  <span class='help-block'>
    Adds or updates catkeys and/or barcodes associated with objects.
  </span>
  <p>You must have a druid list and a catkey and/or a barcode list. Paste each list in its own box. Each list must be the same length and updates will be applied in order by line. Use a blank line to indicate that a catkey/barcode should be deleted. To enter multiple catkeys for one druid, enter each catkey on the same line, separated by commas.</p>

  <div class="mb-3">
    <%= f.check_box :use_catkeys_option %>
    <%= f.label :use_catkeys_option, 'Update catkeys', class: 'ms-2' %>
    <%= f.text_area :catkeys, class: 'form-control', rows: 10, placeholder: 'Check the box and leave this area blank to remove existing catkeys' %>
  </div>
  <div class="mb-3">
    <%= f.check_box :use_barcodes_option %>
    <%= f.label :use_barcodes_option, 'Update barcodes', class: 'ms-2' %>
    <%= f.text_area :barcodes, class: 'form-control', rows: 10, placeholder: 'Check the box and leave this area blank to remove existing barcodes' %>
  </div>

  <%= render 'bulk_actions/druids', f: f %>
  <%= render 'bulk_actions/common_fields', f: f %>
<% end %>
