- @title = "Register DOR Objects"

- content_for :head do
  = stylesheet_link_tag 'data_table'
  = javascript_include_tag 'jquery.dataTables.min', 'register'
  :javascript
    $(window).load(function() {
      $('#results').dataTable({ 
        'aoColumns'  : [
          { 'bSortable' : false, 'bSearchable' : false },
          { 'asSorting' : ['asc','desc'], 'bSearchable' : false },
          { 'asSorting' : ['asc','desc'] },
          { 'asSorting' : ['asc','desc'], 'sType' : 'html' },
          { 'asSorting' : ['asc','desc'], 'sType' : 'html' }
        ],
        'sScrollY'      : 'auto',
        'bPaginate'     : false
      });

      $('#startRegistration').click(function() {
        var rc = new DorRegistration(
          #{params[:apo_id].to_json},
          #{params[:id_source].to_json},
          #{params[:tag_list].split(/\n/).collect { |tag| tag.chomp }.to_json},
          #{params[:id_list].split(/\n/).collect { |id| id.chomp}.to_json},
          { pending: '#{image_path('icons/spinner.gif')}', complete: '#{image_path('icons/accept.png')}', error: '#{image_path('icons/cancel.png')}' }
        );
        rc.registerAll();
      });
    });
    
%h1 Register DOR Objects

%p
  %b Admin Policy:
  = apo_list.find { |apo| apo[1] == params[:apo_id] }[0]

%p
  %b Tags:
  %ul
    - params[:tag_list].each do |tag|
      %li= tag

%button#startRegistration Register!

%table#results
  %thead
    %tr
      %th
      %th #
      %th Source ID
      %th DRUID
      %th Label
  %tbody
    - params[:id_list].lines.each_with_index do |identifier,i|
      - identifier.chomp!
      %tr{:id => "dor_#{i}"}
        %td.statusicon
        %td.index= i+1
        %td.identifier= identifier
        %td.druid
        %td.label
