<%= form_with url: manage_embargo_job_path, class: 'new_bulk_action', data: { turbo_frame: '_top' } do |f| %>
  <%= render 'bulk_actions/errors' %>

  <span class='help-block'>
    Manage embargoes with a CSV
  </span>

  <div class='mb-3'>
    <%= f.label :csv_file, 'Upload a CSV file' %>
    <p><small><em>Please note that each row should have headers for:
    <ul>
      <li>druid</li>
      <li>release_date (in YYYY-MM-DD format)</li>
      <li>view</li>
      <li>download</li>
      <li>location (optional)</li>
    </ul>
    </em></small></p>
    <%= f.file_field :csv_file, class: 'form-control', accept: '.csv' %>
  </div>

  <%= render 'bulk_actions/common_fields', f: %>
<% end %>
