<div class='document-thumb-container'>
  <%= render_document_show_thumbnail document %>
</div>
<div>
  <h4><%= render_citation document %></h4>
  <% blacklight_config[:field_groups][:identification].each do |field_names| %>
    <div class="narrow column">
      <%= render :partial => "catalog/_show_partials/field_list", :locals => {:document => document, :field_names => field_names } %>
    </div>
  <% end %>
  <div style="clear:left">
    <%= render :partial => "catalog/_show_partials/field_list", :locals => {:document => document, :field_names => ['objProfile_objCreateDate_dt','objProfile_objLabel_dt','identifier_t','tag_t'] } %>
  	<dl class="defList">
		<dt>Status</dt>
		<dd>	
		<%= render_status document,object%>
		</dd>
	</dl>
	</div>
</div>