<div class='document-thumb-container'>
  <%= render_document_show_thumbnail document %>
</div>
<div>
  <h4><%= render_citation document %></h4>
  <% blacklight_config[:field_groups][:full_identification].each do |field_names| %>
    <div class="narrow column">
      <%= render :partial => "catalog/_show_partials/field_list", :locals => {:document => document, :field_names => field_names, :object => object } %>
  	</dl>
	</div>
  <% end %>
  <div style="clear:left">
    <%= render :partial => "catalog/_show_partials/field_list", :locals => {:document => document, :field_names => ['objProfile_objCreateDate_dt','objProfile_objLabel_dt','identifier_t','identityMetadata_tag_t'] } %>	
	
    <%#unless object.class == Dor::WorkflowObject %>
     <dl class="defList">
		  <dt>Status:</dt>
		  <dd>
      <%-#object.class%>  	
		  <%= render_status document,object% rescue "Undefined.">
		  </dd>
	   </dl>
     <%#end%>
    <%= render :partial => "catalog/_show_partials/field_list", :locals => {:document => document, :field_names => ['wf_error_display'] } %>
	
	</div>
</div>