<% if object.datastreams.keys.include?('contentMetadata') and not object.datastreams['contentMetadata'].new? %>
	<% content_ds = object.datastreams['contentMetadata'] %>
	<% workspace_files=object.list_files%>
	<div style="clear:left">
		<ul class="resource-tree">
			<li>
				<span class="label">Type</span>
				<%= content_ds.ng_xml.root['type']%>
				<ul>
					<%
					if object.admin_policy_object.first
						apo_pid=object.admin_policy_object.first.pid
					else
						apo_id=nil
					end
					
					can_manage = apo_id and object.can_manage_content? current_user.roles(apo_pid)
					can_view = apo_id and object.can_view_content? current_user.roles(apo_pid)
					version_open = can_close_version? object.pid
					content_ds.ng_xml.xpath('/contentMetadata/resource').each_with_index do |resource,index| %>
					<li class="resource">
						<span class="label">Resource (<%=index+1%>)</span> <%= resource['type']%> 
						<%if can_manage and version_open
							edit_resource_link='/items/'+params[:id]+'/resource/?edit=true&resource='+resource['id']%>
							<a class="smallDialogLink" href=<%= edit_resource_link%>>(edit)<a/>
						<%end%>
						<% if resource.at('label') %>
							<li><span class="label">Label</span> <%= resource.at('label').text %>
						<% end %>
						<ul>
							<%
							children=resource.children
							inner_index=0
							children.each do |child|
							if child.node_name()=='resource'
								inner_index=inner_index+1
								%>
								<li class="resource">
									<span class="label">Resource (<%=inner_index%>)</span> 
									<%= child['type']%> 
									<%if can_manage and version_open
										edit_resource_link='/items/'+params[:id]+'/resource/?edit=true&resource='+child['id']%>
										<a class="smallDialogLink" href=<%= edit_resource_link%>>(edit)<a/>
											<%end%><ul>
												<% if child.at('label') %>
												<li><span class="label">Label</span> <%= child.at('label').text %>
													<% end %>
											<% child.xpath('file').each do |file| %>
											<li class="file">
												<span class="label">File</span>
												<%if can_manage and workspace_files.include?(file['id']) %>
												<% 
												link='/items/'+params[:id]+'/file_list/?file='+file['id']
												%>
												<a class="smallDialogLink" href=<%= link%>><%=file['id']%><a/>
												<%else%>
												<%=file['id']%>
												<%end%>
												(<%= file['mimetype'] %>, <%= file['size'].to_i.bytestring('%.1f%s') %>,
												<%= ['publish','shelve','preserve'].reject { |a| file[a] != 'yes' }.join('/') %>)
											</li>
												<%
											end
										%></ul><%
										end
									end
									%>
								
										<% resource.xpath('file').each do |file| %>
										<li class="file">
											<span class="label">File</span>
											<%if can_view and workspace_files.include?(file['id']) %>
											<% 
											link='/items/'+params[:id]+'/file_list/?file='+file['id']
											%>
											<a class="smallDialogLink" href=<%= link%>><%=file['id']%><a/>
												<%else%>
												<%=file['id']%>
												<%end%>
												(<%= file['mimetype'] %>, <%= file['size'].to_i.bytestring('%.1f%s') %>,
												<%= ['publish','shelve','preserve'].reject { |a| file[a] != 'yes' }.join('/') %>)
										</li>
										<% end %>
									</ul>
								</li>
								<% end %>
							</ul>
						</li>
					</div>
				<% end %>