<table class="detail">
  <% 
    object.datastreams_in_fedora.keys.sort.each do |ds_name| 
      ds = object.datastreams[ds_name]
  %>
    <tr>
      <td><%= render_ds_id ds, document %></td>
      <td><%= render_ds_control_group ds, document %></td>
      <td><%= render_ds_mime_type ds, document %></td>
      <td><%= render_ds_version ds, document %></td>
      <td><%= render_ds_size ds, document %></td>
      <td><%= render_ds_label ds, document %></td>
    </tr>
  <% end %>
</table>