<%= form_with model: @form, url: item_serials_path(@form.to_param), target: "_top" do |f| %>
  <p>Enter part number in the order it will appear next to the part name. If it appears before
  part name, enter it in the first 'Part number' field and leave 'Part number 2' blank.
  If it appears after part name, enter it in the 'Part number 2' field and leave the
  'Part number' blank.</p>

  <div class="row">
    <div class="col">
      <%= f.label :part_number, class: "form-label" %>
      <%= f.text_field :part_number, class: "form-control" %>
    </div>
    <div class="col">
      <%= f.label :part_name, class: "form-label" %>
      <%= f.text_field :part_name, class: "form-control" %>
    </div>
    <div class="col">
      <%= f.label :part_number2, class: "form-label" %>
      <%= f.text_field :part_number2, class: "form-control" %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <%= f.label :sort_field, class: "form-label" %>
      <%= f.text_field :sort_field, class: "form-control" %>
    </div>
  </div>
  <%= f.button "Update", class: "btn btn-primary mt-4" %>
<% end %>
