<%= form_with model: @form, url: item_serials_path(item_id: @form), target: '_top' do |f| %>
  <% if @form.errors.full_messages.present? %>
    <div role="alert" class="alert alert-danger d-flex shadow-sm align-items-center">
      <div class="bi bi-exclamation-triangle-fill fs-3 me-3 align-self-center d-flex justify-content-center"></div>
      <div class="text-body">
        <%= @form.errors.full_messages.to_sentence %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= f.label :part_label, class: 'form-label' %>
      <%= f.text_field :part_label, class: 'form-control' %>
    </div>
    <div class="col">
      <%= f.label :sort_key, class: 'form-label' %>
      <%= f.text_field :sort_key, class: 'form-control' %>
    </div>
  </div>
  <%= f.button 'Update', class: 'btn btn-primary mt-4' %>
<% end %>
