<%= form_with model: @form, url: item_serials_path(@form.to_param), target: '_top' do |f| %>
  <div class="row">
    <div class="col">
      <%= f.label :part_label, class: 'form-label' %>
      <%= f.text_field :part_label, class: 'form-control' %>
    </div>
    <div class="col">
      <%= f.label :sort_key, class: 'form-label' %>
      <%= f.text_field :sort_key, class: 'form-control' %>
    </div>
  </div>
  <%= f.button 'Update', class: 'btn btn-primary mt-4' %>
<% end %>
