<%= render BlacklightModalComponent.new do |component| %>
  <% component.with(:header, params[:dsid]) %>
  <% component.with(:body) do %>
    <%# If the user is a repo admin or is permitted to manage both content and %>
    <%# rights, display raw xml editing %>
    <% if can?(:manage_item, @cocina) && Settings.editable_datastreams.include?(params[:id]) %>
      <%= link_to "Edit #{@ds.dsid}", edit_item_datastream_path(@ds.pid, @ds.dsid), title: @ds.dsid, data: { blacklight_modal: 'preserve' } %>
    <% end %>

    <% unless params[:id] == 'full_dc' %>
      <div class="CodeRay">
        <textarea id="content" class="form-control" rows=3 disabled>
          <foxml:datastream ID="<%= @ds.dsid %>" STATE="<%= @ds.state %>" CONTROL_GROUP="<%= @ds.controlGroup %>" VERSIONABLE="<%= @ds.versionable %>">
          <foxml:datastreamVersion ID="<%= @ds.dsVersionID %>" LABEL="<%= @ds.label %>" CREATED="<%= @ds.createDate&.xmlschema %>" MIMETYPE="<%= @ds.mimeType %>">
        </textarea>
      </div>
    <% end %>
    <%= CodeRay::Duo[:xml, :div].highlight(@content).html_safe %>
  <% end %>
<% end %>
