<%= form_for(@bulk_action) do |f| %>
  <% if @bulk_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bulk_action.errors.count, "error") %> prohibited this bulk_action from being saved:</h2>

      <ul>
      <% @bulk_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action_type %><br>
    <%= f.text_field :action_type %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :log_name %><br>
    <%= f.text_field :log_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :druid_count_total %><br>
    <%= f.number_field :druid_count_total %>
  </div>
  <div class="field">
    <%= f.label :druid_count_success %><br>
    <%= f.number_field :druid_count_success %>
  </div>
  <div class="field">
    <%= f.label :druid_count_fail %><br>
    <%= f.number_field :druid_count_fail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
