<div class='container'>
  <h1>New Bulk Action</h1>

  <%= form_for(@bulk_action, html: { 'data-controller' => 'bulk_actions' }) do |f| %>
    <% if @bulk_action.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bulk_action.errors.count, "error") %> prohibited this bulk_action from being saved:</h2>

        <ul>
        <% @bulk_action.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.select(:action_type,
                     [['Download Descriptive Metadata', 'DescmetadataDownloadJob'],
                      ['Manage release', 'ReleaseObjectJob'],
                      ['Update governing APO', 'SetGoverningApoJob'],
                      ['Reindex', 'RemoteIndexingJob'],
                      ['Manage Catkeys', 'ManageCatkeyJob'],
                      ['Prepare objects', 'PrepareJob'],
                      ['Close versions', 'CloseVersionJob'],
                      ['Checksum report', 'ChecksumReportJob'],
                      ['Create virtual object(s)', 'CreateVirtualObjectsJob']],
                     {},
                     class: 'form-control',
                     data: { action: 'change->bulk_actions#showTab' }) %>

      <div class='tab-content'>
        <div role='tabpanel' class='tab-pane active' id='DescmetadataDownloadJob'>
          <span class='help-block'>
            Download descriptive metadata for objects.
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='ReleaseObjectJob'>
          <span class='help-block'>
            Adds release tags to individual objects.
          </span>
          <%= render 'bulk_actions/forms/manage_release_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='SetGoverningApoJob'>
          <span class='help-block'>
            Moves the object to a new governing APO.
          </span>
          <%= render 'bulk_actions/forms/set_governing_apo_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='RemoteIndexingJob'>
          <span class='help-block'>
            Reindexes the DOR object to Solr
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='ManageCatkeyJob'>
          <span class='help-block'>
            Adds or updates catkeys associated with objects.  You need two lists: druids and catkeys, and they need to correspond 1:1 in the correct order.
          </span>
          <%= render 'bulk_actions/forms/manage_catkey_form' %>
        </div>

        <div role='tabpanel' class='tab-pane' id='PrepareJob'>
          <span class='help-block'>
            Open items not yet open for versioning.
          </span>
          <%= render 'bulk_actions/forms/prepare_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='CloseVersionJob'>
          <span class='help-block'>
            Close a version of the items so the changes can be accessioned. The items will retain the version type (Major, Minor, or Admin) and version description as entered when the item was opened for versioning.
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='ChecksumReportJob'>
          <span class='help-block'>
            Download checksums of files in objects (as csv).
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='CreateVirtualObjectsJob'>
          <span class='help-block'>
            Create one or more virtual objects.
          </span>
          <%= render 'bulk_actions/forms/create_virtual_objects_form', f: f %>
        </div>
      </div>
    </div>

    <div id="common_fields">
      <a class='btn btn-primary' data-populate-druids="<%= search_catalog_path(search_of_pids(@last_search)) %>" data-target='#pids'>
        Populate with previous search
      </a>
      <div class='form-group'>
        <label>Druids to perform bulk action on</label>
        <textarea id='pids' name='bulk_action[pids]' class='form-control' rows='10'>
        </textarea>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label :description, 'Describe this bulk action' %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class=''>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </div>
  <% end %>

  <%= link_to 'Back', bulk_actions_path %>
</div>
