<div class='auth-groups well'>
  <% if can? :impersonate, User %>
    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h3 class='panel-title'>Your Current Groups</h3>
      </div>
      <div class='panel-body'>
        <ul class='list-unstyled'>
          <% current_user.groups.each do |group| %>
            <li>
              <%= group %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div>
      <%= form_tag(auth_remember_impersonated_groups_path) do %>
        <div class='form-group'>
          <%= label_tag :groups, 'Enter a group or a comma separated list of groups to impersonate' %>
          <%= text_field_tag :groups, nil, class: 'form-control' %>
        </div>
        <%= submit_tag 'Impersonate', class: 'btn btn-primary btn-lg btn-block' %>
        <%= link_to 'Cancel', :back, class:'btn btn btn-default btn-lg btn-block' %>
      <% end %>
    </div>
  <% end %>
</div>
