<div class='container'>
  <h1>New Bulk Action</h1>

  <%= form_for(@form,
               url: bulk_actions_path(search_state.params_for_search),
               data: {
                 controller: 'bulk-actions',
                 bulk_actions_populate_url_value: search_catalog_path(search_of_pids)
               }) do |f| %>
    <% if @form.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@form.errors.count, 'error') %> prohibited this bulk_action from being saved:</h2>

        <ul>
        <% @form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='mb-3'>
        <%= f.select(:action_type, action_types,
                     {},
                     class: 'form-select',
                     data: { action: 'change->bulk-actions#showTab' }) %>

      <div class='tab-content'>
        <div role='tabpanel' class='tab-pane' id='DescmetadataDownloadJob'>
          <span class='help-block'>
            Download descriptive metadata for objects.
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='ApplyApoDefaultsJob'>
          <span class='help-block'>
            Overwrite object metadata with the defaults from the APO.
          </span>
        </div>

        <%# This tab is active when the page loads because it's the top-most action in the dropdown %>
        <div role='tabpanel' class='tab-pane active' id='ReleaseObjectJob'>
          <span class='help-block'>
            Adds release tags to individual objects.
          </span>
          <%= render 'bulk_actions/forms/manage_release_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='SetGoverningApoJob'>
          <span class='help-block'>
            Moves the object to a new governing APO.
          </span>
          <%= render 'bulk_actions/forms/set_governing_apo_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='RemoteIndexingJob'>
          <span class='help-block'>
            Reindexes the DOR object to Solr
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='PurgeJob'>
          <span class='help-block'>
            Deletes unpublished DOR objects
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='AddWorkflowJob'>
          <span class='help-block'>
            Starts a workflow for individual objects.
          </span>
          <%= render 'bulk_actions/forms/add_workflow_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='SetCatkeysAndBarcodesJob'>
          <span class='help-block'>
            Adds or updates catkeys and/or barcodes associated with objects.
          </span>
          <p>You must have a druid list and a catkey and/or a barcode list. Lists of catkeys/barcodes (if provided) must be the same length as the list of druids and in the same order. Use a blank line to indicate that a catkey/barcode should be deleted.</p>
          <%= render 'bulk_actions/forms/set_catkeys_and_barcodes_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='SetCatkeysAndBarcodesCsvJob'>
          <span class='help-block'>
            Adds or updates catkeys and/or barcodes associated with objects.
          </span>
          <%= render 'bulk_actions/forms/set_catkeys_and_barcodes_csv_form', f: f %>
        </div>

        <div role="tabpanel" class="tab-pane" id="SetSourceIdsCsvJob">
          <span class="help-block">
            Adds or updates source IDs associated with objects.
          </span>
          <%= render 'bulk_actions/forms/set_source_ids_csv_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='PrepareJob'>
          <span class='help-block'>
            Open items not yet open for versioning.
          </span>
          <%= render 'bulk_actions/forms/prepare_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='RepublishJob'>
          <span class='help-block'>
            Republish DOR objects. You still need to use the normal versioning process to make sure your changes are preserved.
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='CloseVersionJob'>
          <span class='help-block'>
            Close a version of the items so the changes can be accessioned. The items will retain the version type (Major, Minor, or Admin) and version description as entered when the item was opened for versioning.
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='ChecksumReportJob'>
          <span class='help-block'>
            Download checksums of files in objects (as csv).
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='CreateVirtualObjectsJob'>
          <div class="mb-3">
            <span class='help-block'>
              Create one or more virtual objects.
            </span>
          </div>
          <%= render 'bulk_actions/forms/create_virtual_objects_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='ExportTagsJob'>
          <span class='help-block'>
            Download tags as CSV (comma-separated values) for druids specified below
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='ImportTagsJob'>
          <span class='help-block'>
            Upload tags as CSV (comma-separated values)
          </span>
          <%= render 'bulk_actions/forms/import_tags_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='ExportStructuralJob'>
          <span class='help-block'>
            Export structural metadata as CSV (comma-separated values) for druids specified below
          </span>
        </div>

        <div role='tabpanel' class='tab-pane' id='RegisterDruidsJob'>
          <div class="mb-3">
            <span class='help-block'>
              Register druids
            </span>
          </div>
          <%= render 'bulk_actions/forms/register_druids_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='SetLicenseAndRightsStatementsJob'>
          <div class="mb-3">
            <span class='help-block'>
              Edit license, copyright statement, and/or use &amp; reproduction statements
            </span>
          </div>
          <%= render 'bulk_actions/forms/set_license_and_rights_statements_form', f: f, license_options: @form.license_options %>
        </div>

        <div role='tabpanel' class='tab-pane' id='RefreshModsJob'>
          <div class="mb-3">
            <span class='help-block'>
              Refresh metadata from the catalog
            </span>
          </div>
        </div>

        <div role='tabpanel', class='tab-pane', id='SetContentTypeJob'>
          <div class="mb-3">
            <span class='help-block'>
              Set content type
            </span>
          </div>
          <%= render 'bulk_actions/forms/set_content_type_form', f: f %>
        </div>

        <div role="tabpanel" class="tab-pane" id="SetRightsJob">
          <div class="mb-3">
            <span class="help-block">
              Edit rights
            </span>
          </div>
          <%= render 'bulk_actions/forms/set_rights_form', f: f, rights_options: @form.rights_options %>
        </div>

        <div role='tabpanel' class='tab-pane' id='ManageEmbargoesJob'>
          <div class="mb-3">
            <span class='help-block'>
              Manage embargoes with a CSV
            </span>
          </div>
          <%= render 'bulk_actions/forms/manage_embargo_form', f: f %>
        </div>

        <div role='tabpanel' class='tab-pane' id='SetCollectionJob'>
          <div class="mb-3">
            <span class='help-block'>
              Set collection
            </span>
          </div>
          <%= render 'bulk_actions/forms/set_collection_form', f: f %>
        </div>
      </div>
    </div>

    <div data-bulk-actions-target="commonFields" >
     <% if search_state.has_constraints? %>
        <button class='btn btn-primary' data-action="click->bulk-actions#populateDruids">
          Populate with previous search
        </button>
      <% end %>
      <div class='mb-3'>
        <label>Druids to perform bulk action on</label>
        <textarea id='pids' name='bulk_action[pids]' class='form-control' rows='10' data-bulk-actions-target="pids"></textarea>
      </div>
    </div>

    <div class='mb-3'>
      <%= f.label :description, 'Describe this bulk action' %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class=''>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </div>
  <% end %>

  <%= link_to 'Back', bulk_actions_path %>
</div>
