<header class="document-header mb-5 pb-3">
  <% if version_banner %>
    <div class="alert alert-warning d-flex shadow-sm align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill fs-3 me-3"></i>
      <div class="text-body">
        <%= version_banner %>
        <% if show_latest_link? %>
          <div class="text-body">
              <%= link_to('View latest version', solr_document_path(@document.id)) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <%= render OpenCloseComponent.new(id: @document.id) if helpers.can?(:update, @presenter.cocina) && !version_or_user_version_view? %>

    <%= content_tag @as, class: @classes do %>
      <%= title -%>
    <% end %>

    <div class="object-type object-type-<%= object_type_class %> fw-bold text-center text-uppercase rounded-pill fs-4 mt-2 float-end">
      <%= object_type_label %>
    </div>
  </div>
</header>
