<header class="document-header mb-5 pb-3">
  <% if version_banner %>
    <div class="alert alert-warning" role="alert">
      <%= version_banner %>
    </div>
  <% end %>
  <div class="row">
    <%= render OpenCloseComponent.new(id: @document.id) if helpers.can?(:update, @presenter.cocina) %>

    <%= content_tag @as, class: @classes do %>
      <%= title -%>
    <% end %>

    <div class="object-type object-type-<%= object_type_class %> fw-bold text-center text-uppercase rounded-pill fs-4 mt-2 float-end">
      <%= object_type_label %>
    </div>
  </div>
  <% if @presenter.user_version_view? %>
    <p>
      <%= link_to('Back to current', solr_document_path(@document.id)) %>
    </p>
  <% end %>
</header>
