<h3 class="start-open">View in new window</h3>
<ul class='nav flex-column'>
  <li class="nav-item"><%= purl_link %></li>
  <% if released_to_searchworks? %>
    <li class="nav-item"><%= searchworks_link %></li>
  <% end %>
  <li class="nav-item"><%= dor_link %></li>
  <li class="nav-item"><%= foxml_link %></li>
  <li class="nav-item"><%= solr_link %></li>
  <li class="nav-item"><%= cocina_link %></li>
</ul>
