<table class="table table-sm mb-5 caption-header">
    <caption>Overview</caption>
    <tbody>
      <tr>
        <th class="col-3" scope="row">DRUID</th>
        <td>
            <%= id %>
        </td>
      </tr>

      <% unless admin_policy? %>
        <tr>
          <th class="col-3" scope="row">Admin policy</th>
          <td>
              <%= admin_policy %> <%= governing_apo_button %>
          </td>
        </tr>
      <% end %>

      <% if item? %>
        <tr>
          <th class="col-3" scope="row">Collection</th>
          <td>
              <%= collection %> <%= edit_collections if item? || collection? %>
          </td>
        </tr>
      <% end %>

      <tr>
        <th class="col-3" scope="row">Status</th>
        <td>
            <%= status %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Access rights</th>
        <td>
            <%= access_rights %> <%= rights unless admin_policy? %>
        </td>
      </tr>

      <% unless admin_policy? %>
        <tr>
          <th class="col-3" scope="row">Copyright</th>
          <td>
            <turbo-frame id="edit_copyright">
              <%= copyright %>
              <% if allows_modification? %>
                <%= link_to edit_copyright_item_path(id: id), aria: { label: 'Edit copyright' } do %>
                  <span class="bi-pencil"></span>
                <% end %>
              <% end %>
            </turbo-frame>
          </td>
        </tr>

        <tr>
          <th class="col-3" scope="row">License</th>
          <td>
            <turbo-frame id="edit_license">
              <%= license %>
              <% if allows_modification? %>
                <%= link_to edit_license_item_path(id: id), aria: { label: 'Edit license' } do %>
                  <span class="bi-pencil"></span>
                <% end %>
              <% end %>
            </turbo-frame>
          </td>
        </tr>

        <tr>
          <th class="col-3" scope="row">Use and reproduction</th>
          <td>
            <turbo-frame id="edit_use_statement">
              <%= use_statement %>
              <% if allows_modification? %>
                <%= link_to edit_use_statement_item_path(id: id), aria: { label: 'Edit use and reproduction' } do %>
                  <span class="bi-pencil"></span>
                <% end %>
              <% end %>
            </turbo-frame>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
