<table class="table table-sm mb-5 caption-header">
    <caption>Overview</caption>
    <tbody>
      <tr>
        <th class="col-3" scope="row">DRUID</th>
        <td>
            <%= id %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Admin policy</th>
        <td>
            <%= admin_policy %> <%= governing_apo_button %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Collection</th>
        <td>
            <%= collection %> <%= edit_collections if item? || collection? %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Status</th>
        <td>
            <%= status %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Access rights</th>
        <td>
            <%= access_rights %> <%= rights unless admin_policy? %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Copyright</th>
        <td>
            <%= copyright %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">License</th>
        <td>
            <%= license %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Use and reproduction</th>
        <td>
            <%= use_statement %>
        </td>
      </tr>
    </tbody>
  </table>
