<table class="table table-sm mb-5 caption-header">
    <caption>Overview</caption>
    <tbody>
      <tr>
        <th class="col-3" scope="row">DRUID</th>
        <td>
            <%= id %>
        </td>
      </tr>

      <% unless admin_policy? %>
        <tr>
          <th class="col-3" scope="row">Admin policy</th>
          <td>
              <%= admin_policy %> <%= governing_apo_button %>
          </td>
        </tr>
      <% end %>

      <% if item? %>
        <tr>
          <th class="col-3" scope="row">Collection</th>
          <td>
              <%= collection %> <%= edit_collections if item? || collection? %>
          </td>
        </tr>
      <% end %>

      <tr>
        <th class="col-3" scope="row">Status</th>
        <td>
            <%= status %>
        </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Access rights</th>
        <td>
            <%= access_rights %> <%= rights unless admin_policy? %>
        </td>
      </tr>

      <% unless admin_policy? %>
        <tr>
          <th class="col-3" scope="row">Copyright</th>
          <td>
            <%= render Show::CopyrightComponent.new(change_set: @presenter.change_set, state_service: state_service) %>
          </td>
        </tr>

        <tr>
          <th class="col-3" scope="row">License</th>
          <td>
            <%= render Show::LicenseComponent.new(change_set: @presenter.change_set, state_service: state_service) %>
          </td>
        </tr>

        <tr>
          <th class="col-3" scope="row">Use and reproduction</th>
          <td>
            <%= render Show::UseStatementComponent.new(change_set: @presenter.change_set, state_service: state_service) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
