<div class="argo-show-btn-group">
  <h3 class="button-header">Actions</h3>
  <% if admin_policy? %>
    <%= edit_apo %>
    <%= create_collection %>
  <% end %>

  <%= reindex_button %>
  <%= add_workflow_button %>
  <%= republish_button %>
  <%= purge_button %>
  <%= refresh_metadata if symphony_record? %>
  <%= manage_release %>
  <%= create_embargo %>
</div>
