<tr class="hidden last_step<%= version %>">
 <td><span style="cursor: pointer;" onclick="document.querySelectorAll('.version<%= version %>').forEach((elem) => elem.classList.toggle('hidden'));document.querySelector('.last_step<%= version %>').classList.toggle('hidden')">+</span><%= version %></td>
 <td><%= steps['accessioned'][:display] || steps.keys.first.titleize %></td>
 <td><%= steps['accessioned'][:time].nil? ? 'pending' : steps['accessioned'][:time].in_time_zone.to_s %></td>
</tr>

<tr class="version<%= version %>">
 <td colspan="3" onclick="document.querySelectorAll('.version<%= version %>').forEach((elem) => elem.classList.toggle('hidden'));document.querySelector('.last_step<%= version %>').classList.toggle('hidden')"><span style="cursor: pointer;">-</span>
   <%= title %>
 </td>
</tr>

<% steps.each do |k, m| %>
<tr class="version<%= version %>">
  <td></td>
  <td><%= m[:display] || k.titleize %></td>
  <td><%= m[:time].nil? ? 'pending' : m[:time].in_time_zone.to_s %></td>
</tr>
<% end %>
