<tr class="version<%= version %>">
 <td colspan="3">-
   <%= version_link_or_label %><% if user_version %> (<%= user_version_link_or_label %>)<% end %>
 </td>
</tr>

<% steps.each do |k, m| %>
<tr class="version<%= version %>">
  <td></td>
  <td><%= m[:display] || k.titleize %></td>
  <td><%= m[:time].nil? ? 'pending' : m[:time].in_time_zone.to_s %></td>
</tr>
<% end %>
