<span class="section-head-link">
  View:
  <%= link_to 'XML', item_workflow_path(item_id: @presenter.pid, id: @presenter.workflow_name, raw: 'true', repo: params[:repo]),
              title: @presenter.workflow_name,
              data: { ajax_modal: 'trigger' } %>
</span>
<%= @presenter.pid %>

<table class="detail table">
  <thead>
    <tr>
      <th></th>
      <th>process</th>
      <th>status</th>
      <th>reset</th>
      <th>datetime</th>
      <th>elapsed seconds</th>
      <th>attempts</th>
      <th>lifecycle</th>
    </tr>
  </thead>
  <tbody>
    <% if @presenter.processes.any? %>
      <% @presenter.processes.each_with_index do |process,index| %>
        <tr>
          <td><%= index + 1 %>.</td>
          <td><%= process.name %></td>
          <td><%= process.status %></td>
          <td><%= render_workflow_process_reset(@presenter.pid, process) %></td>
          <td><%= render_datetime(process.datetime) %></td>
          <td><%= process.elapsed %></td>
          <td><%= process.attempts %></td>
          <td><%= process.lifecycle %></td>
        </tr>
        <% if process.status == 'error' %>
          <tr>
            <td>&nbsp;</td>
            <td colspan="8" style="padding-left: 1em" class="errortext"><%= process.error_message %></td>
          </tr>
        <% end %>
        <% if process.note %>
          <tr>
            <td>&nbsp;</td>
            <td colspan="8" style="padding-left: 1em" class="notetext">Note: <%= process.note %></td>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <tr><td colspan="8">No processes defined for this workflow.</td></tr>
    <% end %>
  </tbody>
</table>
