<% content_for :head do %>
  <%= javascript_include_tag 'report' %>
  <script type="text/javascript">
    report_model = {
      total_rows: <%= @response['response']['numFound'] %>,
      data_url: <%= discovery_data_url(params.merge(:format => 'json')).to_json.html_safe %>,
      download_url: <%= discovery_download_url(params).to_json.html_safe %>,
      column_model: <%= Discovery.blacklight_config.column_model.to_json.html_safe %>
    }
  </script>
<% end %>

<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>
<div id="content" class="col-md-9 col-sm-8">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>
    <% @page_title = "#{application_name} Search Results" %>
    <% content_for(:head) { render_opensearch_response_metadata.html_safe } %>
    <% if has_search_parameters? %>
      <%= render :partial => 'did_you_mean' %>
      <%= render 'constraints', :localized_params=>params %>
    <% end %>

    <div id="report_container">
      <table id="report_grid"></table>
      <div id="preport_grid"></div>
    </div>
  <% end %>
</div>
