<script>
	$(function() {
			$( "#<%=field_name%>_after_datepicker" ).datepicker();
			$( "#<%=field_name%>_before_datepicker" ).datepicker();
		});
</script>
<li><label for="<%=field_name%>_after_datepicker">From:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <input style="width:auto;" maxlength="10" size="10" name="<%=field_name%>_after_datepicker" id="<%=field_name%>_after_datepicker" type="text"></li>
<li><label for="<%=field_name%>_before_datepicker">Through:</label> <input style="width:auto;" maxlength="10" size="10" name="<%=field_name%>_before_datepicker" id="<%=field_name%>_before_datepicker" type="text"></li>
<li><button  id="<%=field_name%>" onclick="assembleQuery(this);">Apply</button></li>

