<dl class="defList">
  <% field_names.each do |solr_fname| -%>
    <% if document_has? document, solr_fname %>
      <% begin %>
        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
        <dd class="blacklight-<%= solr_fname.parameterize %>">
          <% unless solr_fname == 'status_display' %>
            <%= render_document_show_field_value :document => document, :field => solr_fname %>
          <% else %>
            <span class="<%= render_status_style(document, dor_obj) %>">
              <%= render_document_show_field_value :document => document, :field => solr_fname %>
            </span>
          <% end %>  
        </dd>
      <% rescue NameError 
         Rails.logger.info "Error rendering #{solr_fname}"
         end %>
    <% else %>
      <%if solr_fname == 'metadata_source_t'%>
        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
        <dd class="blacklight-<%= solr_fname.parameterize %>"><%= metadata_source object %></dd>
      <%end%>
    <% end -%>
  <% end -%>
</dl>
