<div class="row mb-3">
  <%= item_form.label :source_id, 'Source ID', class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= item_form.text_field :source_id, class: 'form-control', required: true,
                             pattern: '^.+:.+$',
                             data: {
                               action: "change->registration#validateSourceId invalid->registration#displayValidation",
                               registration_target: 'sourceId',
                               registration_tabs_target: 'requiredFormField'
                             }
     %>
  </div>
</div>
<div class="row mb-3">
  <%= item_form.label :catkey, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= item_form.text_field :catkey, class: 'form-control',
      pattern: '^[0-9]+(:[0-9]+)*$',
      data: {
        action: "change->registration#validateCatkey invalid->registration#displayValidation",        
    } %>
  </div>
</div>
<div class="row mb-3">
  <%= item_form.label :label, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= item_form.text_field :label, class: 'form-control', required: true,
                             data: {
                               action: "invalid->registration#displayValidation",
                               registration_tabs_target: 'requiredFormField'
                             } %>
  </div>
</div>
<div class="row mb-3">
  <%= item_form.label :barcode, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= item_form.text_field :barcode, class: 'form-control' %>
  </div>
</div>
