<h1>DOR item(s) submitted</h1>

<p>Items successfully registered.</p>
<div class="row">
  <div class="col-sm-4">
    <table class="table">
      <thead>
        <tr>
          <th>DRUID</th>
          <th>Barcode</th>
          <th><%= CatalogRecordId.label %></th>
          <th>Source ID</th>
          <th>Title</th>
          <th>MARC Status</th>
        </tr>
      </thead>
      <tbody>
      <% @registration_form.created.each do |dro| %>
        <% catalog_record_id = dro.identification.catalogLinks.first&.catalogRecordId %>
        <% cocina_display = CocinaDisplay::CocinaRecord.new(CocinaDisplay::Utils.deep_compact_blank(dro.as_json)) %>
        <tr data-controller="marc-availability"
            data-marc-availability-catalog-record-id-value="<%= catalog_record_id %>">
          <td><%= link_to Druid.new(dro).without_namespace, solr_document_path(dro.externalIdentifier) %></td>
          <td><%= dro.identification.barcode %></td>
          <td><%= catalog_record_id %></td>
          <td><%= dro.identification.sourceId %></td>
          <td><%= cocina_display.display_title || dro.label %></td>
          <td data-marc-availability-target="status">
            <% if catalog_record_id.present? %>
              <span class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Checking...</span>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% druids = @registration_form.created.map(&:externalIdentifier).map { |druid| "druid[]=#{druid}" }.join('&') %>
<%= link_to "/registration/tracksheet?name=#{@registration_form.project}&sequence=1&#{druids}", class: 'btn btn-outline-primary my-5' do %>
  Tracking sheets
<% end %>

<%= link_to registration_path(registration: params[:registration].to_unsafe_h.except(:items_attributes)), class: 'btn btn-link my-5' do %>
  Back to form
<% end %>
