<% @title = 'Register DOR Objects' %>
<% content_for :head do %>
  <%= stylesheet_pack_tag 'registration', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'registration', 'data-turbo-track': 'reload' %>
<% end %>

<div id='properties' class="ui-widget" style="display: none">
  <div class="property-item"><label for='apo_id'>Admin Policy</label><%= select_tag :apo_id, options_for_select(apo_list(@perm_keys)), 'data-rcparam': 'apoId' %></div>
  <div class="property-item"><label for='collection'>Collection</label><%= select_tag :collection, '', 'data-rcparam': 'collection' %></div>

  <div class="property-item"><label for="rights">Rights</label><%= select_tag :rights, options_for_select(Constants::REGISTRATION_RIGHTS_OPTIONS), 'data-tagname': 'Process : Rights' %></div>
  <div class="property-item"><label for='workflow_id'>Initial Workflow</label><%= select_tag :workflow_id, '', 'data-rcparam': 'workflowId' %></div>
  <div class="property-item"><label for='content_type'>Content Type</label><%= select_tag :content_type, options_for_select(valid_content_types), class: 'tag-field', 'data-tagname': 'Process : Content Type' %></div>
  <div class="property-item break"><label for='project'>Project Name</label><%= text_field_tag :project, nil, data: { rcparam: 'projectName', project_autocomplete: true } %></div>
  <div class="property-item wide"><label for='tag_1'>Tags</label>
    <span id="tags" style="width: auto">
      <%= text_field_tag :'tags[]', nil, id: 'tags_0', class: 'free tag-field', data: { tag_autocomplete: true } %>
      <%= text_field_tag :'tags[]', nil, id: 'tags_1', class: 'free tag-field', data: { tag_autocomplete: true } %>
      <%= text_field_tag :'tags[]', nil, id: 'tags_2', class: 'free tag-field', data: { tag_autocomplete: true } %>
      <%= text_field_tag :'tags[]', nil, id: 'tags_3', class: 'free tag-field', data: { tag_autocomplete: true } %>
    </span>
    <div class="break"></div>
    <label for='tag_4'>&nbsp;</label>
    <span id="tags" style="width: auto">
      <%= text_field_tag :'tags[]', nil, id: 'tags_4', class: 'free tag-field', data: { tag_autocomplete: true } %>
      <%= text_field_tag :'tags[]', nil, id: 'tags_5', class: 'free tag-field', data: { tag_autocomplete: true } %>
      <%= text_field_tag :'tags[]', nil, id: 'tags_6', class: 'free tag-field', data: { tag_autocomplete: true } %>
      <%= text_field_tag :'tags[]', nil, id: 'tags_7', class: 'free tag-field', data: { tag_autocomplete: true } %>
      <%= hidden_field_tag :registered_by, current_user.login, class: 'tag-field ', 'data-tagname': 'Registered By' %>
    </span>
  </div>
  <div class="break"></div>
</div>


<div id='dynamic' class='row'>
  <table id='data'></table>
  <div id='pdata'></div><%= text_area_tag :id_list, '', class: 'full-width', id: :id_list, rows: 7 %>
</div>

<div class="modal" tabindex="-1" id="gridErrorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Error</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="resetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear the grid?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="reset" data-dismiss="modal">Ok</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="progressModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Progress</h5>
      </div>
      <div class="modal-body">
        <progress id="register-progress" max="100" value="0"></progress>
      </div>
    </div>
  </div>
</div>
