<%= tag.h1 'Register DOR Items', class: 'h2 my-4 fw-bolder' %>

<%= form_with model: @registration_form, url: registration_path,
              data: {
                controller: 'registration',
                action: 'invalid->registration#showValidations',
                turbo: false # We need to return data, and turbo requires a redirect on form success
              }, class: 'container' do |f| %>
  <div class="row mt-3" data-controller="content-type">
    <div class="col-md-5">
      <div class="row mb-3">
        <%= f.label :admin_policy, 'Admin Policy', class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.select :admin_policy, options_for_select(@apo_list), {}, class: 'form-select', onChange: "document.querySelector('#registration-options').src = `/apo/${this.selectedOptions[0].value}/registration_options`" %>
        </div>
      </div>

      <turbo-frame id="registration-options" src="/apo/<%= @apo_list.first.last %>/registration_options"></turbo-frame>

      <div class="row mb-3">
        <%= f.label :content_type, 'Content Type', class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.select :content_type, options_for_select(ContentTypeForm::CONTENT_TYPES), {},
                      class: 'form-select', data: { content_type_target: 'contentType', action: 'content-type#render' }  %>
        </div>
      </div>
      <div data-content-type-target="directionRow" class="row mb-3">
        <%= f.label :viewing_direction, 'Viewing Direction', class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.select :viewing_direction, options_for_select(ContentTypeForm::DIRECTIONS), {},
                      include_blank: 'none', class: 'form-select', data: { content_type_target: 'direction' } %>
        </div>
      </div>
    </div>
    <div class="col-md-5 offset-md-2">
      <div class="row mb-3">
        <%= f.label :project, 'Project Name', class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.text_field :project, data: { project_autocomplete: true }, class: 'form-control' %>
        </div>
      </div>
      <div class="row mb-3">
        <label for="registration_tags_attributes_0_name" class="col-sm-3 col-form-label">Tags</label>
        <div class="col-sm-9">
          <span id="tags" style="width: auto">
            <%= f.fields_for :tags do |tags_form| %>
              <%= tags_form.text_field :name, class: 'form-control mb-2', data: { controller: 'tag-validation', action: 'change->tag-validation#validate', tag_autocomplete: true } %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3 clearfix">
    <div class="float-end">
      <button class="btn btn-link" type="reset" onclick="return confirm('You sure?')">Reset</button>
    </div>
  </div>

  <% if @registration_form.errors.full_messages.present? %>
    <div class="alert alert-danger"><%= @registration_form.errors.full_messages.to_sentence %></div>
  <% end %>


  <div class="my-3 col-lg-7" data-controller="registration-items" data-registration-items-selector-value=".plain-container">
      <template data-registration-items-target='template'>
        <div class="plain-container" style="position: relative">
          <hr class="my-4"/>
          <div style="position: absolute; right: -40px">
            <%= button_tag type: 'button', class: 'btn btn-link', aria: { label: 'Remove' },
             data: { action: "click->registration-items#removeAssociation",
                     plain: true } do %>
              <span class='bi bi-trash'></span>
            <% end %>
          </div>

          <%= f.fields_for :items, child_index: 'TEMPLATE_RECORD' do |item_form| %>
            <% render 'item_row', item_form: %>
          <% end %>
        <div>
      </template>

      <%= f.fields_for :items do |item_form| %>
        <% render 'item_row', item_form: %>
      <% end %>

    <div data-registration-items-target="add_item">
      <%= button_tag type: 'button', class: "btn btn-sm btn-outline-primary", data: { action: "registration-items#addAssociation" } do %>
        <span class="bi bi-plus"></span>Add another row
      <% end %>
    </div>
  </div>

  <div class="mt-3">
    <%= f.submit 'Register', class: 'btn btn-primary' %>
  </div>
<% end %>
