<%= form_with url: catalog_record_id_and_barcode_csv_job_path, class: "new_bulk_action", data: {turbo_frame: "_top"} do |f| %>
  <%= render "bulk_actions/errors" %>

  <span class='help-block'>
    Adds or updates <%= CatalogRecordId.label %>s and/or barcodes associated with objects.
  </span>
  <div class='mb-3'>
    <%= f.label :csv_file, "Upload a CSV file" %>
    <p><small><em>Please note that each row should have headers for:
    <ul>
      <li>Druid (required)</li>
      <li><%= CatalogRecordId.label %> (optional). May be repeated if an item is associated with multiple catalog record IDs.</li>
      <li>Refresh (optional). Set to "true" to indicate descriptive metadata is refreshable from first catalog record ID; set to "false" to indicate descriptive metadata is not refreshable.</li>
      <li>Barcode (optional)</li>
    </ul>
    </em></small></p>
    <%= f.file_field :csv_file, class: "form-control", accept: ".csv" %>
  </div>

  <%= render "bulk_actions/common_fields", f: f %>
<% end %>
