<% if @last_search && query_has_constraints?(@last_search.query_params) %>
  <span class='help-block'>
    <p>Previous search query: <%= render_constraints(@last_search.query_params) %></p>
  </span>
  <div class='form-group' id="column_selector">
    <p>Select columns to download:</p>
    <%= f.fields_for :download_report do |download_report_fields| %>
      <% Report.blacklight_config.report_fields.each do |field| %>
        <%= check_box_tag 'bulk_action_download_report_selected_columns[]', field[:field], field[:download_default], name: 'bulk_action[download_report][selected_columns][]' %> <%= field[:label] %> <br>
      <% end %>
      <%= download_report_fields.hidden_field 'search_params', value: @last_search.query_params.to_json %>
    <% end %>
  </div>
<% else %>
  <span class='errortext'>
    <p>NOTE: This job should not be run unless you came from a search result page.  This is because the report uses the previous search parameters.</p>
  </span>
<% end %>
