<% f.fields_for :manage_release do |manage_release_fields| %>
  <div class='mb-3'>
    <div class='form-check'>
      <label class='form-check-label'>
        <%= manage_release_fields.radio_button :tag, true, checked: true, class: 'form-check-input' %>
        Release this object*
      </label>
    </div>
    <div class='form-check'>
      <label class='form-check-label'>
        <%= manage_release_fields.radio_button :tag, false, class: 'form-check-input'  %>
        Do not release this object*
      </label>
    </div>
  </div>
  <div class='mb-3'>
    <label for='bulk_action_manage_release_to'>to</label>
    <%= manage_release_fields.select :to, Constants::RELEASE_TARGETS, {}, class: 'form-select' %>
  </div>
  <%= manage_release_fields.hidden_field('what', value: 'self') %>
  <%= manage_release_fields.hidden_field('who', value: current_user.sunetid) %>
<% end %>
<span class='form-text'>* for items this overrides any collection release instructions; for a collection this releases the collection object itself, not its members</span>
