<%= f.fields_for :prepare do |prepare_fields| %>
  <div class='form-group'>
    <%= prepare_fields.label :severity, 'Change type' %>
    <%= prepare_fields.select :severity,
                              [['Major', 'major'], ['Minor', 'minor'], ['Admin', 'admin']],
                              class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= prepare_fields.label :description, 'Change description' %>
    <%= prepare_fields.text_area :description, class: 'form-control' %>
  </div>
<% end %>
