<%= form_with url: source_id_csv_job_path, class: 'new_bulk_action', data: { turbo_frame: '_top' } do |f| %>
  <%= render 'bulk_actions/errors' %>

  <span class="help-block">
    Adds or updates source IDs associated with objects.
  </span>

  <div class='mb-3'>
    <%= f.label :csv_file, 'Upload a CSV file' %>
    <p><small><em>Please note that there should be headers for:
    <ul>
      <li>druid</li>
      <li>source_id</li>
    </ul>
    </em></small></p>
    <%= f.file_field :csv_file, class: 'form-control', accept: '.csv' %>
  </div>

  <%= render 'bulk_actions/common_fields', f: %>
<% end %>
