<tr class="file">
  <td>
    <% if viewable? %>
      <%= link_to filename, item_files_path(link_attrs), data: {blacklight_modal: "trigger"} %>
    <% else %>
      <%= filename %>
    <% end %>
  </td>
  <td><%= hasMimeType %></td>
  <td><%= number_to_human_size(size) %></td>
  <% if image? %>
    <td><%= height %></td>
    <td><%= width %></td>
  <% end %>
  <td><%= role %></td>
  <td class="ps-4"><%= tag :span, class: "bi-check" if publish %></td>
  <td class="ps-4"><%= tag :span, class: "bi-check" if shelve %></td>
  <td class="ps-4"><%= tag :span, class: "bi-check" if sdrPreserve %></td>
  <td><%= view_access %></td>
  <td><%= download_access %></td>
</tr>
