<li class="file">
  <span class="label">File</span>
  <% if viewable? %>
    <%= link_to filename, item_files_path(link_attrs), data: { blacklight_modal: 'trigger' } %>
  <% else %>
    <%= filename %>
  <% end %>
  (<%= hasMimeType %>, <%= number_to_human_size(size) %>, <%= routing %>)
</li>
