<%= form_with url: virtual_object_job_path, class: 'new_bulk_action', data: { turbo_frame: '_top' } do |f| %>
  <%= render 'bulk_actions/errors' %>

  <span class='help-block'>
    Create one or more virtual objects.
  </span>

  <div class='mb-3'>
    <%= f.label :csv_file, 'Upload a CSV file' %>
      <small><em>Please note that each row should contain the virtual object druid as the first field and constituent druids as all the other fields. Constituent druids <strong>must</strong> be entered in the order they should appear in the catalog.</em></small>
    <%= f.file_field :csv_file, class: 'form-control', accept: '.csv' %>
  </div>
  <%= render 'bulk_actions/common_fields', f: %>
<% end %>
