<table class="table table-sm mb-5 caption-header">
    <caption>Details</caption>
    <tbody>
      <tr>
        <th class="col-3" scope="row">Created</th>
        <td>
            <%= l created_date, format: :long if created_date %>
        </td>
      </tr>

      <tr>
         <th class="col-3" scope="row"># of collections</th>
         <td>
             <turbo-frame id="apo-collection-count" src="<%= count_collections_apo_path(id) %>"></turbo-frame>
         </td>
      </tr>

      <tr>
         <th class="col-3" scope="row"># of items</th>
         <td>
             <turbo-frame id="apo-item-count" src="<%= count_items_apo_path(id) %>"></turbo-frame>
         </td>
      </tr>

      <tr>
         <th class="col-3" scope="row">Agreement</th>
         <td>
             <%= link_to solr_document_path(agreement_id) do %>
               <turbo-frame id="agreement-title" src="<%= agreement_path(agreement_id) %>"><%= agreement_id %></turbo-frame>
             <% end %>
         </td>
      </tr>

      <tr>
        <th class="col-3" scope="row">Tags</th>
        <td>
          <%= render Show::TagsComponent.new(document: @presenter.document, presenter: @presenter) %>
        </td>
      </tr>
    </tbody>
  </table>
