<%= render EditModalComponent.new do |component| %>
  <% component.with_header { 'Manage tags' } %>
  <% component.with_body do %>
    <%= form_with model: @form,
                  url: item_tags_path(item_id: @form),
                  method: 'patch',
                  data: { controller: 'nested-form', nested_form_selector_value: '.plain-container' } do |form| %>

      <% if @form.errors.full_messages.present? %>
        <div role="alert" class="alert alert-danger d-flex shadow-sm align-items-center">
          <div
            class="bi bi-exclamation-triangle-fill fs-3 me-3 align-self-center d-flex justify-content-center"></div>
          <div class="text-body">
            <ul>
              <% @form.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <template data-nested-form-target='template'>
        <%= form.fields_for :tags, TagsController::Tag.new, child_index: 'TEMPLATE_RECORD' do |tag_form| %>
          <%= render 'row', form: tag_form %>
        <% end %>
      </template>

      <%= form.fields_for :tags do |tag_form| %>
        <%= render 'row', form: tag_form %>
      <% end %>

      <div data-nested-form-target="add_item" class="mb-5">
        <%= button_tag '+ Add another tag', type: 'button', class: 'col-sm-2 btn btn-outline-primary', data: { action: 'nested-form#addAssociation' } %>
      </div>

      <button class='btn btn-primary'>Save</button>
    <% end %>
  <% end %>
<% end %>
