<%= form_with url: item_tags_path(item_id: @pid, update: 'true'),
              method: 'patch',
              local: true do %>
  <% @tags.each_with_index do |tag, count| %>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control tag" name="tag<%= count + 1 %>" id="tag<%= count + 1 %>" type="text" value="<%= tag %>">
        <span class='input-group-btn'>
          <%= link_to item_tags_path(item_id: @pid, del: 'true', tag: count + 1),
                      method: 'patch',
                      class: 'btn btn-secondary' do %>
            <span class='icon-remove-sign text-danger'></span>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
  <button class='btn btn-primary'>Update</button>
<% end %>
<hr>
<%= form_tag item_tags_path(item_id: @pid, add: 'true'), method: 'patch'  do %>
  <div class='form-group'>
    <label>Add a tag</label>
    <input class="form-control" name="new_tag1" id="new_tag1" type="text" value="">
    <input class="form-control" name="new_tag2" id="new_tag2" type="text" value="">
    <input class="form-control" name="new_tag3" id="new_tag3" type="text" value="">
  </div>
  <button class='btn btn-primary'>Add</button>
<% end %>
