<% if @cocina_object.instance_of?(NilModel) %>
  <div class='alert alert-warning'>
    This object cannot currently be represented in the Cocina model and thus cannot be closed. Please check the object for possible metadata errors, such as a missing title or source id.
    If you are unsure of what the issue is, you can ask for help on the #dlss-aaas Slack channel or email <a href="mailto:argo-feedback@lists.stanford.edu">argo-feedback@lists.stanford.edu</a>
  </div>
<% else %>
  <%= form_with url: close_item_versions_path(@item.id),
                method: :post,
                local: true do %>
    <div class='mb-3'>
      <label for="significance">Type</label>
      <select id="significance" name="significance" class='form-select'>
        <%# loop through the significance levels and pre-select the one that was chosen when opening the version %>
        <% @significance_selected.keys.each do |significance| %>
          <option value="<%= significance.to_s %>"<%= @significance_selected[significance] ? ' selected' : '' -%>><%= significance.to_s.capitalize -%></option>
        <% end %>
      </select>
    </div>
    <div class='mb-3'>
      <label for="description">Version description</label><br>
      <textarea id="description" name="description" class="form-control" required="true"><%= @description %></textarea>
    </div>
    <button type='submit' class='btn btn-primary'>
      Close Version
    </button>
  <% end %>
<% end %>
