<form action=<%= close_item_versions_path(@object.pid) %> method="POST">
  <div class='form-group'>
    <label for="significance">Type</label>
    <select id="significance" name="significance" class='form-control'>
      <%- # loop through the significance levels and pre-select the one that was chosen when opening the version -%>
      <% @significance_selected.keys.each do |significance| %>
        <option value="<%= significance.to_s %>"<%= @significance_selected[significance] ? ' selected' : ''-%>><%=significance.to_s.capitalize-%></option>
      <% end %>
    </select>
  </div>
  <div class='form-group'>
    <label for="description">Version description</label><br/>
    <textarea id="description" name="description" class='form-control'><%= @description %></textarea>
  </div>
  <button type='submit' class='btn btn-primary'>
    Close Version
  </button>
</form>
