<li class="resource">
  <span class="label">Resource (<%= child_counter + 1 %>)</span>
  <%= child['type']%>
  <ul>
    <% if child.at('label') %>
      <li> <span class="label">Label</span> <%= child.at('label').text %></li>
    <% end %>
    <% child.xpath('file').each do |file| %>
      <li class="file">
        <span class="label">File</span>
        <% if can? :manage_item, object %>
          <%= link_to file['id'], item_files_path(item_id: object, id: file['id']), data: { blacklight_modal: 'trigger' } %>
        <% else %>
          <%=file['id']%>
        <% end %>
        (<%= file['mimetype'] %>,
         <%= number_to_human_size(file['size']) %>,
         <%= ['publish','shelve','preserve'].reject { |a| file[a] != 'yes' }.join('/') %>)
      </li>
    <% end %>
    <%= render partial: 'catalog/_show_sections/default_contents_external_file', locals: { resource: child } -%>
  </ul>
</li>
