<table class="detail">
  <% 
    document['ds_specs_ssim'].try(:each) do |dspecs| 
      specs = parse_specs(dspecs)
  %>
    <tr>
      <td><%= render_ds_id document, specs %></td>
      <td><%= render_ds_control_group document, specs %></td>
      <td><%= render_ds_mime_type document, specs %></td>
      <td><%= render_ds_version document, specs %></td>
      <td><%= render_ds_size document, specs %></td>
      <td><%= render_ds_label document, specs %></td>
    </tr>
  <% end %>
</table>
