<div class='document-thumb-container'>
  <%= render_document_show_thumbnail document %>
</div>
<div>
  <h4><%= render_citation document %></h4>
  <% blacklight_config[:field_groups][:full_identification].each do |field_names| %>
    <div class="narrow column">
      <%= render :partial => "catalog/show_field_list", :locals => {:document => document, :field_names => field_names, :object => object } %>
    </dl>
  </div>
  <% end %>
  <div style="clear:left">
    <%= render :partial => "catalog/show_field_list", :locals => {:document => document, :field_names => ['objProfile_objCreateDate_dt','objProfile_objLabel_dt','identifier_t','identityMetadata_tag_t'] } %>

    <%if defined?(object.status) %>
     <dl class="document-metadata dl-horizontal dl-invert">
      <dt>Status:</dt>
      <dd>
        <span class="<%= render_status_style(document, object) %>">
          <%= render_status(document, object) %>
        </span>
      </dd>
     </dl>
    <%end%>
    <%= render :partial => "catalog/show_field_list", :locals => {:document => document, :field_names => ['wf_error_display'] } %>

  </div>
</div>
