<% if object.datastreams.keys.include?('contentMetadata') &&
  (not object.datastreams['contentMetadata'].new?) && object.datastreams['contentMetadata'].metadata? %>
  <% content_ds = object.datastreams['contentMetadata'] %>
  <% admin_policy_object = @apo %>
  <div style="clear:left">
    <ul class="resource-tree">
      <li>
        <%if document_has? document, 'preserved_size_dbtsi'%>
          <span class="label">Preservation Size</span>
          <%=value_for_preserved_size_dbtsi :document => document, :field => 'preserved_size_dbtsi'%>
          <br/>
        <%end%>
        <span class="label">Type</span>
        <%= content_ds.ng_xml.root['type'] %>
        <ul>
          <% apo_pid = nil
          if admin_policy_object
            apo_pid = admin_policy_object.pid
          end
          
          can_manage = current_user.is_admin || current_user.is_manager || (apo_pid && object.can_manage_content?(current_user.roles(apo_pid)))
          can_view = current_user.is_admin || current_user.is_manager || (apo_pid && object.can_view_content?(current_user.roles(apo_pid)))
          version_open = can_close_version? object.pid

          content_ds.ng_xml.xpath('/contentMetadata/resource').each_with_index do |resource, index| %>
            <li class="resource">
              <span class="label">Resource (<%=index+1%>)</span> <%= resource['type']%>
              <%if can_manage && version_open
                edit_resource_link="/items/#{params[:id]}/resource/?edit=true&resource=#{resource['id']}"%>
                <%= link_to "(edit)", edit_resource_link, :data => {ajax_modal: 'trigger'} %>
              <%end%>
              <% if resource.at('label') %>
                <li><span class="label">Label</span> <%= resource.at('label').text %></li>
              <% end %>
              <ul>
                <% children = resource.children
                inner_index = 0
                children.each do |child|
                  if child.node_name() == 'resource'
                    inner_index = inner_index+1 %>
                    <li class="resource">
                      <span class="label">Resource (<%=inner_index%>)</span>
                      <%= child['type']%>
                      <%if can_manage && version_open
                        edit_resource_link = '/items/'+params[:id]+'/resource/?edit=true&resource='+child['id'] %>
                        <%= link_to "(edit)", edit_resource_link, :data => {ajax_modal: 'trigger'} %>
                      <%end%>
                      <ul>
                        <% if child.at('label') %>
                          <li> <span class="label">Label</span> <%= child.at('label').text %></li>
                        <% end %>
                        <% child.xpath('file').each do |file| %>
                          <li class="file">
                            <span class="label">File</span>
                            <% if can_manage %>
                              <% manage_file_link = '/items/'+params[:id]+'/file_list/?file='+URI.escape(file['id']) %>
                              <%= link_to file['id'], manage_file_link, :data => {ajax_modal: 'trigger'} %>
                            <%else%>
                              <%=file['id']%>
                            <%end%>
                            (<%= file['mimetype'] %>, 
                             <%= file['size'].to_i.bytestring('%.1f%s') %>,
                             <%= ['publish','shelve','preserve'].reject { |a| file[a] != 'yes' }.join('/') %>)
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
                
                <% resource.xpath('file').each do |file| %>
                  <li class="file">
                    <span class="label">File</span>
                    <%if can_view 
                      file_link = '/items/'+params[:id]+'/file_list/?file='+URI.escape(file['id']) %>
                      <%= link_to file['id'], file_link, :data => {ajax_modal: 'trigger'} %>
                    <%else%>
                      <%=file['id']%>
                    <%end%>
                    (<%= file['mimetype'] %>, <%= file['size'].to_i.bytestring('%.1f%s') %>,
                     <%= ['publish','shelve','preserve'].reject { |a| file[a] != 'yes' }.join('/') %>)
                  </li>
                <% end %>
                
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
<% else %>
  <div style="clear:left">
    <ul class="resource-tree">
      <li>
        <span class="label">Preservation Size</span> 0 bytes
      </li>
    </ul>
  </div>
<% end %>
