<div class="wide column" style="width:45em;">
  <dl class="defList">
    <dt>Lifecycle</dt>
    <dt>
      <% history_link='/items/'+params[:id]+'/workflow/history' %>
      <%= link_to "(xml)", history_link, :data => {ajax_modal: 'trigger'} %>
    </dt>
    <dd style="width:30em;">
      <%= render_milestones document, object %>
    </dd>
  </dl>
</div>

<div class="wide column">
  <dl class="defList">
    <dt>Workflows</dt>
    <dd>
      <%= render_workflows document, object %>
    </dd>
  </dl>
</div>

<div style="clear: both">
  <dl class="defList">
    <dt>Events</dt>
    <dd>
      <%= render_events document, object %>
    </dd>
  </dl>
</div>

<% if object.respond_to? :release_tags %>
  <div>
    <dl>
      <dt>Releases</dt>
      <dd>
        <%= render partial: 'show_releases', locals: { object: object } %>
      </dd>
    </dl>
  </div>
<% end %>
