<%# TODO: DRY up code here - major duplication due to nested resources support %>
<div style="clear:left">
  <ul class="resource-tree">
  <% if object.datastreams.keys.include?('contentMetadata') && (not object.datastreams['contentMetadata'].new?) && object.datastreams['contentMetadata'].metadata? %>
    <li>
      <% if document.preservation_size.present? %>
        <div>
          <span class="label">Preservation Size</span>
          <%= number_to_human_size(document.preservation_size) -%>
        </div>
      <% end %>
      <div>
        <span class="label">Type</span>
        <%= object.datastreams['contentMetadata'].contentType.first -%>
      </div>
      <ul>
      <%
        apo_pid = @apo.nil? ? nil : @apo.pid
        can_manage = current_user.is_admin ||
                     current_user.is_manager ||
                     (!apo_pid.nil? && object.can_manage_content?(current_user.roles(apo_pid)))
        can_view = current_user.is_admin ||
                   current_user.is_manager ||
                   (!apo_pid.nil? && object.can_view_content?(current_user.roles(apo_pid)))
        version_open = can_close_version? object.pid

        object.datastreams['contentMetadata'].ng_xml.xpath('/contentMetadata/resource').each_with_index do |resource, index| %>
          <li class="resource">
            <span class="label">
              Resource (<%= index+1 -%>)
            </span> <%= resource['type'] -%>
            <% if can_manage && version_open
                 edit_resource_link="/items/#{params[:id]}/resource/?edit=true&resource=#{resource['id']}" %>
              <%= link_to "(edit)", edit_resource_link, :data => {ajax_modal: 'trigger'} -%>
            <% end %>
            <% if resource.at('label') %>
              <li>
                <span class="label">
                  Label
                </span>
                <%= resource.at('label').text -%>
              </li>
            <% end %>
            <ul>
             <%
              # handle first-level of nested resources
              inner_index = 0
              resource.children.each do |child|
                if child.node_name == 'resource'
                  inner_index = inner_index+1 %>
                  <li class="resource">
                    <span class="label">
                      Resource (<%= inner_index -%>)
                    </span>
                    <%= child['type'] -%>
                    <% if can_manage && version_open
                         edit_resource_link = '/items/'+params[:id]+'/resource/?edit=true&resource='+child['id'] %>
                      <%= link_to "(edit)", edit_resource_link, :data => {ajax_modal: 'trigger'} -%>
                    <% end %>
                    <ul>
                      <% if child.at('label') %>
                        <li>
                          <span class="label">
                            Label
                          </span>
                          <%= child.at('label').text -%>
                        </li>
                      <% end %>
                      <% child.xpath('file').each do |file| %>
                        <li class="file">
                          <span class="label">
                            File
                          </span>
                          <% if can_manage %>
                            <% manage_file_link = '/items/'+params[:id]+'/file_list/?file='+URI.escape(file['id']) %>
                            <%= link_to file['id'], manage_file_link, :data => {ajax_modal: 'trigger'} -%>
                          <% else %>
                            <%= file['id'] -%>
                          <% end %>
                          (<%= file['mimetype'] -%>,
                           <%= number_to_human_size(file['size']) -%>,
                           <%= ['publish','shelve','preserve'].reject { |a| file[a] != 'yes' }.join('/') -%>)
                        </li>
                      <% end %>
                      <%# show external links to files %>
                      <% child.xpath('externalFile').each do |external_file| %>
                        <li class="external-file">
                          <span class="label">
                            External File
                          </span>
                          <%= external_file['fileId'] -%>
                          (from <%= link_to external_file['objectId'], catalog_path(external_file['objectId']) -%>,
                           resource <%= external_file['resourceId'] -%>)
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              <% end %>
              <% resource.xpath('file').each do |file| %>
                <li class="file">
                  <span class="label">
                    File
                  </span>
                  <% if can_view 
                       file_link = '/items/'+params[:id]+'/file_list/?file='+URI.escape(file['id']) %>
                    <%= link_to file['id'], file_link, :data => {ajax_modal: 'trigger'} -%>
                  <% else %>
                    <%= file['id'] -%>
                  <% end %>
                  (<%= file['mimetype'] -%>,
                   <%= number_to_human_size(file['size']) -%>,
                   <%= ['publish','shelve','preserve'].reject { |a| file[a] != 'yes' }.join('/') -%>)
                </li>
              <% end %>
              <%# show external links to files %>
              <% resource.xpath('externalFile').each do |external_file| %>
                <li class="external-file">
                  <span class="label">
                    External File
                  </span>
                  <%= external_file['fileId'] -%>
                  (from <%= link_to external_file['objectId'], catalog_path(external_file['objectId']) -%>,
                   resource <%= external_file['resourceId'] -%>)
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% else %>
  <%# empty contentMetadata %>
    <li>
      <span class="label">
        Preservation Size
      </span>
      0 bytes
    </li>
  <% end %>
  </ul>
</div>
