<li class="file">
  <span class="label">File</span>
  <% if can? :view_content, object %>
    <%= link_to file['id'], item_files_path(item_id: object, id: file['id']), data: { ajax_modal: 'trigger' } %>
  <% else %>
    <%= file['id'] %>
  <% end %>
  (<%= file['mimetype'] %>, <%= number_to_human_size(file['size']) %>,
   <%= ['publish','shelve','preserve'].reject { |a| file[a] != 'yes' }.join('/') %>)
</li>
