<div id="bulk-upload-table">
    <table class="table table-hover">
	<tr>
	    <th>When</th><th>Who</th><th>File Name</th><th>Note</th><th>Status <%= link_to bulk_status_help_path(@document.get('id')), :data => { ajax_modal: 'trigger' } do %><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><% end %></th><th>Druids</th><th>Success</th><th/><th/>
	</tr>
	<% @bulk_jobs.each do |job| %>
	<tr>
	    <td><%= job['argo.bulk_metadata.bulk_log_job_start'] %></td>
	    <td><%= job['argo.bulk_metadata.bulk_log_user'] %></td>
	    <td><%= job['argo.bulk_metadata.bulk_log_input_file'] %></td>
	    <td><%= job['argo.bulk_metadata.bulk_log_note'] %></td>
	    <td>
		<% if(job['argo.bulk_metadata.bulk_log_job_complete']) %>
		  completed
		<% else %>
		  in process
		<% end %>
            </td>
	    <td><%= job['argo.bulk_metadata.bulk_log_record_count'] %></td>
	    <td><%= job['argo.bulk_metadata.bulk_log_druids_loaded'] %></td>

	    <% druid_and_time = job['dir'].split(/\//) %>
	    <td><%= link_to('Log', bulk_jobs_log_path(druid_and_time[0], druid_and_time[1]), data: { ajax_modal: 'trigger' }) %></td>
	    <td><%= link_to('XML', bulk_jobs_xml_path(druid_and_time[0], druid_and_time[1])) %></td>
		     
	</tr>
	<% end %>
    </table>
</div>
