<div id="bulk-upload-table">
    <table class="table table-hover">
	<tr>
	    <th>When</th><th>Who</th><th>File Name</th><th>Note</th><th>Status <%= link_to bulk_status_help_path(@document.get('id')), :data => { ajax_modal: 'trigger' } do %><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><% end %></th><th>Druids</th><th>Success</th><th/><th/>
	</tr>
	<% @bulk_jobs.each do |job| %>
	<tr>
	    <td><%= job['job_start'] %></td>
	    <td><%= job['current_user'] %></td>
	    <td><%= job['input_file'] %></td>
	    <td><%= job['note'] %></td>
	    <td>
		<% if(job['job_finish']) %>
		  completed
		<% else %>
		  in process
		<% end %>
            </td>
	    <td><%= job['records'] %></td>
	    <td><%= job['records'] %></td>
	    <td>Log</td>
	    <td>XML</td>
	</tr>
	<% end %>
    </table>
</div>
