<% unless hide_facet?(facet_field.field) %>
<div class="facet_limit blacklight-<%= facet_field.field.parameterize %>">
  <span style="float: right; display: block"><%= render_facet_rotate(facet_field.field) %></span>
  <span style="float: right; display: block"><%= render_workflow_grid_toggle(facet_field.field) %></span>
  <h3><%= facet_field_labels[facet_field.field] -%></h3>
  <%= yield %>
</div>
<% end %>