<% 
  item = data[:_]
  subset = data.reject { |k,v| ! k.is_a?(String) }
%>

<li class="<%= subset.empty? ? 'h-leaf' : 'h-node'  %>">
  <% if item.nil? %>
    <%= key %>              
  <% else %>
    <% if facet_in_params?(field_name, item.qvalue) %>
      <%= render_selected_qfacet_value( field_name, item )%>
    <% else %>
      <%= render_qfacet_value(field_name, item) %>              
    <% end %>
  <% end %>
  <% unless subset.empty? %>
  <ul>
    <%=
      raw(subset.keys.sort.collect { |subkey| 
        render :partial => 'facet_hierarchy_item', :locals => { :field_name => field_name, :data => subset[subkey], :key => subkey } 
      })
    %>
  </ul>
  <% end %>
</li>