<div class="reportToggle">
  <%= link_to t('blacklight.search.start_over'), url_for(:controller => 'catalog', :action=>'index'), :class => 'ui-state-default ui-corner-all' %>
<%=link_to 'Bulk Update', report_bulk_url(params), :class => 'ui-state-default ui-corner-all'%>
<%=link_to 'Discovery Report', discovery_url(params), :class => 'ui-state-default ui-corner-all'%>
  <% case params[:controller] %>
  <% when 'catalog' %>
    <%= link_to t('argo.search.report_view'), report_url(params), :class => 'ui-state-default ui-corner-all' %>
  <% when 'report' %>
    <%= link_to t('argo.search.result_view'), catalog_index_url(params), :class => 'ui-state-default ui-corner-all' %>
  <% end %>
</div>
