<div id="search" class="search">
  <%= form_tag catalog_index_path, :method => :get do %>
    <h2 class="search"><%= label_tag(:q, "Search ") %></h2>
    <%= text_field_tag :q, params[:q], :class => "q" %>
    <%= render_hash_as_hidden_fields(params_for_search().except(:q, :search_field, :qt, :page, :utf8)) %>        
    
    <%= submit_tag 'search', :class=>'submit' %>
  <% end %>

  <hr/>
</div>
