<% 
  content = begin
    render :partial=>"catalog/_#{action_name}_sections/#{format}_#{section}", :locals=>{:document=>document,:format=>format,:object=>object} 
  rescue ActionView::MissingTemplate
    begin
      render :partial=>"catalog/_#{action_name}_sections/default_#{section}", :locals=>{:document=>document,:format=>format,:object=>object} 
    rescue ActionView::MissingTemplate
      nil
    end
  end
  
  header_class = "section-head"
  header_class += " collapsible-section" if collapsible
%>

<% unless content.nil? %>
  <h3 id="document-<%=section%>-head" class="<%=header_class%>">
	<span class="section-head-content">
    <span class="section-head-link"><%= render_section_header_link(section,document) %></span>
	<%= section.humanize %>
	</span>
  </h3>
  <div id="document-<%=section%>-section" class="document-section">
    <%= content %>
  </div>
<% end %>