<table class='table'>
  <thead>
    <tr>
      <th>Release</th>
      <th>What</th>
      <th>To</th>
      <th>Who</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody>
    <% release_tags.each do |release_tag| %>
      <tr>
        <td><%= release_tag.release %></td>
        <td><%= release_tag.what %></td>
        <td><%= release_tag.to %></td>
        <td><%= release_tag.who %></td>
        <td><time-ago datetime="<%= release_tag.date %>"><%= release_tag.date %></time-ago></td>
      </tr>
    <% end %>
  </tbody>
</table>
