<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>

  <h3 class='modal-title'>Dublin Core (derived from MODS)</h3>
</div>

<div class='modal-body'>
  <% dc_xml = Nokogiri::XML(Dor::Services::Client.object(@obj.pid).metadata.dublin_core) %>
  <div class="lightbox-head">
    <span class="section-head-link">
      <%= link_to 'View XML', ds_solr_document_path(@obj.pid, 'full_dc'), title: 'Dublin Core (derived from MODS)', data: { blacklight_modal: 'trigger' } %>
    </span>
    <%= @obj.pid %>
  </div>
  <h3>
    <%= @obj.label %>
  </h3>
  <div class="metadata-display">
  <dl>
    <%
      dc_xml.xpath('/oai_dc:dc/*', oai_dc: 'http://www.openarchives.org/OAI/2.0/oai_dc/').each do |node|
        field_name = node.name.humanize
        field_value = node.text
        unless field_value.nil? or field_value.empty?
    -%>
          <dt class="blacklight-<%= field_name.parameterize %>"><%= field_name %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><%= field_value %></dd>
    <%
        end
      end
    -%>
  </dl>
  </div>
</div>
