<% view_config = blacklight_config.view_config(document_index_view_type) %>
<div class="facet-pagination top d-flex flex-wrap w-100 justify-content-between border-bottom pb-3 mb-3">
  <%= render view_config.facet_pagination_component.new(facet_field: @presenter) %>
</div>

<div data-controller="facet-filter">
  <%= render BlacklightModalComponent.new do |component| %>
    <% component.with_header do %>
      <%= facet_field_label(@facet.key) %>
      <a class="copy-button" data-controller="copy" data-action="copy#copy" aria-label="Copy this list" title="Copy this list" href="#"><span class="bi bi-clipboard"></span></a>
     <% end %>
    <% component.with_body do %>

      <%= render view_config.facet_filters_component.new(presenter: @presenter) %>
      <div data-facet-filter-target="list">
        <%= render Blacklight::FacetComponent.new(display_facet: @display_facet, blacklight_config: blacklight_config, layout: false) %>
      </div>
    <% end %>
    <% component.with_footer do %>
      <div class="facet-pagination bottom d-flex flex-wrap w-100 justify-content-between">
        <div class="col-sm-4">
          <input type="text" id="filterInput" data-action="keyup->facet-filter#filter" placeholder="Filter..." class="form-control form-control-sm" autocomplete="off">
        </div>
        <%= render view_config.facet_pagination_component.new(facet_field: @presenter) %>
      </div>
    <% end %>
  <% end %>
</div>
