<div data-controller="facet-filter">
  <%= render Blacklight::System::ModalComponent.new do |component| %>
    <% component.prefix do %>
      <div class="facet-pagination top row justify-content-between">
        <%= render 'facet_pagination' %>
      </div>
    <% end %>

    <% component.title { facet_field_label(@facet.key) } %>

    <%= render 'facet_index_navigation' if @facet.index_range && @display_facet.index? %>

    <div class="facet-extended-list" data-facet-filter-target="list">
      <%= render Blacklight::FacetComponent.new(display_facet: @display_facet,
                                                blacklight_config: blacklight_config,
                                                layout: false) %>
    </div>

    <% component.footer do %>
      <div class="facet-pagination bottom row justify-content-between">
        <div class="col-sm-4">
          <input type="text" id="filterInput" data-action="keyup->facet-filter#filter" placeholder="Filter..." class="form-control form-control-sm">
        </div>
        <%= render 'facet_pagination' %>
      </div>
    <% end %>
  <% end %>
</div>
