<div class="mt-3"
     data-controller="object-reporter"
     data-object-reporter-data-url-value='<%= report_data_url %>'
     data-object-reporter-data-url-params-value='<%= json_escape(params.to_unsafe_h.except(:controller, :action).merge(format: 'json', sort: 'id asc').to_json) %>'
     data-object-reporter-download-url-value='<%= report_download_url %>'
     data-object-reporter-column-model-value='<%= Report::COLUMN_MODEL.to_json.html_safe %>'>

  <div class="mt-1 mb-1">
    <button class="btn btn-outline-primary" data-action="click->object-reporter#openColumnSelectorModal">Columns</button>
    <a class="btn btn-outline-primary" href="" target="_blank" data-action="click->object-reporter#downloadCSV">Download CSV</a>
  </div>

  <div id="objectsTable"></div>

  <div class="modal fade" data-object-reporter-target="columnSelector" tabindex="-1" role="dialog" aria-labelledby="columnSelectorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="columnSelectorModalLabel">Select Columns to Display and Download</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container" data-controller="checkbox-select">
            <div class="mb-2">
              <a href="#" class="fw-bold" data-action="click->checkbox-select#checkAll">Select All</a> |
              <a href="#" class="fw-bold" data-action="click->checkbox-select#checkNone">Deselect All</a>
            </div>
            <div class="row">
              <div class="col">
                <%= render ReportCategoryComponent.new(category: Report::FREQUENTLY_USED_CATEGORY) %>
              </div>
              <div class="col">
                <%= render ReportCategoryComponent.new(category: Report::CITATION_CATEGORY) %>
                <div class="mt-3"></div>
                <%= render ReportCategoryComponent.new(category: Report::HISTORY_CATEGORY) %>
              </div>
              <div class="col">
                <%= render ReportCategoryComponent.new(category: Report::IDENTIFIERS_CATEGORY) %>
                <div class="mt-3"></div>
                <%= render ReportCategoryComponent.new(category: Report::CONTENT_CATEGORY) %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
