      <% wf_process, wf_desc = process_info %>
      <tr>
        <td class="index"><%= process_info_counter + 1 %></td>
        <td class="process"><%= render_workflow_process_name(wf_name, wf_process) %></td>
        <td class="description"><%= wf_desc %></td>
        <td class="count waiting"><%= render_workflow_item_count(wf_data, wf_name, wf_process, 'waiting') %></td>
        <td class="count ready"><%= render_workflow_item_count(wf_data, wf_name, wf_process, 'ready') %></td>
        <td class="count queued"><%= render_workflow_item_count(wf_data, wf_name, wf_process, 'queued') %></td>
        <td class="count errors"><%= render_workflow_item_count(wf_data, wf_name, wf_process, 'error') %> <%= render_workflow_reset_link(wf_data, wf_name, wf_process, 'error') %></td>
        <td class="count skipped"><%= render_workflow_item_count(wf_data, wf_name, wf_process, 'skipped') %></td>
        <td class="count completed"><%= render_workflow_item_count(wf_data, wf_name, wf_process, 'completed') %></td>
      </tr>
