<% extra_head_content << capture do %>
<link rel="alternate" type="application/xml" title="Solr" href="<%=build_solr_request_from_response%>">
<script type="text/javascript">
report_model = {
	total_rows: <%= @response['response']['numFound'] %>,
	data_url: <%= report_pids_url(params.merge(:format => 'json')).to_json.html_safe %>,
}
cons=[];
function catalog_url(element)
{
	url='<%=link_to 'druid:xxxxxxxxx', url_for(:controller => :catalog,:action => :show, :id => 'druid:xxxxxxxxx', :bulk => 'true'), :target => '_blank'%>'
	url=url.replace(/xxxxxxxxx/g,element);
	return url;
	
}
function open_version(druids){
	cons=[];
	var params={
		'severity': $('#severity').val(),
		'description': $('#description').val(),
	}
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		//send a request to open this object and log the success or failure
		url='<%=url_for :controller => :items,:action => :prepare, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'POST', data: params});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url, 'Prepared', show_buttons);
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop(),show_buttons)})
	})
}
function close_version(druids){
	var params={
		'severity': $('#severity').val(),
		'description': $('#description').val(),
	}
	cons=[];
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :items,:action => :close_version, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'POST', data: params});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url, 'Closed');
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}
function set_content_type(druids){
	var params={
		'new_content_type': $('#new_content_type').val(),
		'new_resource_type': $('#new_resource_type').val(),
		'old_content_type': $('#old_content_type').val(),
		'old_resource_type': $('#old_resource_type').val()
	}
	cons=[];
	$.each(druids, function(i,element){
     	var	element_url=catalog_url(element);
		url='<%=url_for :controller => :items,:action => :set_content_type, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'POST', data: params});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url, 'Updated');
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element,job_count.pop())})
	})
}
function purge(druids){
	cons=[];
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :items,:action => :purge_object, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'GET'});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url, 'Purged');
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}

function fetch_druids(fun)
{
	log=document.getElementById('log');
	log.style.display="block";
	if(document.getElementById('pids').value.length>5)
	{
		txt=document.getElementById('pids').value
		txt=txt.replace(/druid:/g,'');
		druids=txt.split("\n");
		last=druids.pop();
		if(last != ''){druids.push(last);}
		log.innerHTML="Using "+ druids.length +" user supplied druids.\n<br>"
		job_count=[]
		for(i=druids.length;i>0;i--)
		{
			job_count.push(i);
		}
		fun(druids);
	}
	else{
		log.innerHTML="Fetching all "+report_model['total_rows']+" druids.<br>\n"
		$.getJSON(report_model['data_url'], function(data){
			report_model['druids']=[]
			$.each(data.druids, function(i,s){
				report_model['druids'].push(s);
			});
			log.innerHTML=log.innerHTML+"Received "+report_model['druids'].length+" pids, starting work<br>\n"
			fun(report_model['druids']);
		}).error(function(jqXhr, textStatus, error) {
			alert("ERROR: " + textStatus + ", " + error);
		});
	}
}
function reindex(druids){
	cons=[]
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :dor,:action => :reindex, :pid => 'druid:xxxxxxxxx'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'GET'});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url, 'Reindexed.');
			
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}
function republish(druids){
	cons=[]
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :dor,:action => :republish, :pid => 'druid:xxxxxxxxx'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'GET'});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url, 'Republished.');
			
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}
function release_hold(druids){
	cons=[]
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :items,:action => :workflow_update, :id => 'druid:xxxxxxxxx', :wf_name => 'accessionWF', :process => 'sdr-ingest-transfer', :status => 'waiting', :bulk => true%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'POST'});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url, 'Hold released.');
			
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}
function set_rights(druids){
	cons=[];
	var params={
		'rights': $('#rights_select').val(),
	}
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :items,:action => :set_rights, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'POST', data: params});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url,'Updated');
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}
function create_desc_md(druids){
	cons=[];
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :items,:action => :create_minimal_mods, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'GET'});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url,'Updated');
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}
function add_collection(druids){
	cons=[];
	var params={
		'collection': $('#collection_select').val(),
	}
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :items,:action => :add_collection, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'POST', data: params});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url,'Updated');
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}
function detect_duplicate_encoding(druids){
	cons=[];
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :items,:action => :detect_duplicate_encoding, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'GET'});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url,'No duplicates');
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}
function remove_duplicate_encoding(druids){
	cons=[];
	$.each(druids, function(i,element){
		var element_url=catalog_url(element);
		url='<%=url_for :controller => :items,:action => :remove_duplicate_encoding, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element);
		var xhr=$.ajax({url: url, type: 'GET'});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url,'Fixed');
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
	})
}

//print a success message with whatever description fits the action being performed.
function success_handler(element_url,desc,after)
{
	if (job_count.length == 1 && after != null)
	{
		after();
	}
	log=document.getElementById('log');
	log.innerHTML = job_count.pop()+" "+element_url+' '+desc+"<br>\n"+log.innerHTML;
	if (job_count.length == 0)
	{
		log.innerHTML = "Done!\n<br>"+log.innerHTML
	}
}
function error_handler(xhr,status,err,element,index, after){
	if (job_count.length == 1 && after != null)
	{
		after();
	}
	msg='';
	if( xhr.responseText && xhr.responseText.length<150)
	{
		msg=xhr.responseText;
	}
	else
	{
		msg=err;
	}
		log.innerHTML = "<span class=\"error\"> "+index+" "+element+" : "+msg+"</span><br>\n"+log.innerHTML;	
		if (job_count.length == 0)
		{
			log.innerHTML = "Done!<br>\n"+log.innerHTML
		}
	
}
function source_id(){
	cons=[];
	log=document.getElementById('log');
	log.style.display="block";
	txt=document.getElementById('source_ids').value
	txt=txt.replace(/druid:/g,'');
	druids=txt.split("\n")
	last=druids.pop();
	if(last != ''){druids.push(last);}
	d=[]
	for(i=druids.length;i>0;i--)
	{
		job_count.push(i);
	}
	for(i=0;i< druids.length; i++)
	{
		dr=druids[i];
		dr=dr.replace(/ : /g,':');
		parts=dr.split("\t",2);
		d.push({'druid': parts[0], 'source': parts[1]});
	}
	log.innerHTML="Using "+ druids.length +" user supplied druids and source ids.<br>\n"
	log=document.getElementById('log');
	$.each(d, function(i,element){
		//get rid of blank lines
		if(element['druid'] == null || element['druid'].length < 2)
		{
			return;
		}
		var element_url=catalog_url(element['druid']);
		//skip bad source ids
		if(element['source']==null || element['source'].length<=1 || element['source'].indexOf(':')<1)
		{
			err_log=document.getElementById('log');

			err_log.innerHTML = "<span class=\"error\"> "+job_count.pop()+" "+element_url+" : invalid source id '"+element['source']+"'</span><br>\n"+log.innerHTML;
			return;
		}
		params={
			'new_id': element['source']
		}
		url='<%=url_for :controller => :items,:action => :source_id, :id => 'druid:xxxxxxxxx', :bulk => 'true'%>'
		url=url.replace('xxxxxxxxx',element['druid']);
		var xhr=$.ajax({url: url, type: 'POST', data: params});
		cons.push(xhr);
		xhr.success(function(response,status,xhr) { 
			success_handler(element_url, 'Updated	');
		})
		xhr.error(function(xhr,status,err){error_handler(xhr,status,err,element_url,job_count.pop())})
})
}
function get_druids()
{
	log=document.getElementById('pids');
	$('#pid_list').show(400);
	log.innerHTML=log.innerHTML+'Fetching druids...'+"\n"
	$.getJSON(report_model['data_url'], function(data){
		report_model['druids']=[];
		log.innerHTML='';
		$.each(data.druids, function(i,s){
			report_model['druids'].push(s);
			log.innerHTML=log.innerHTML+'druid:'+s+"\n"
		});
	}).error(function(jqXhr, textStatus, error) {
		alert("ERROR: " + textStatus + ", " + error);
	});
}
function get_source_ids()
{
	log=document.getElementById('source_ids');
	$.getJSON(report_model['data_url']+'&source_id=true', function(data){
		report_model['druids']=[]
		$.each(data.druids, function(i,s){
			report_model['druids'].push(s);
			log.innerHTML=log.innerHTML+'druid:'+s+"\n"
		});
	}).error(function(jqXhr, textStatus, error) {
		alert("ERROR: " + textStatus + ", " + error);
	});
}
function show_buttons()
{
	$('#updates').show(400);
}
function stop_all()
{
	log=document.getElementById('log');
	
	while(cons.length>0)
	{
		con=cons.pop();
		con.abort();
	}
}
</script>
<style>
.bulk_operation{border:1px;border-style:solid;padding:25px;margin-top:25px;display:none}
.error{color:red}
</style>
<% end %>

<% @page_title = "#{application_name} Search Results" %>
<% extra_head_content << render_opensearch_response_metadata.html_safe %>
<%= render :partial => 'search_form' %>
<% if has_search_parameters? %>
<%= render :partial => 'did_you_mean' %>
<%= render 'constraints', :localized_params=>params %>
<%= render 'report_view_toggle', :localized_params=>params %>
<% end %>
<% sidebar_items << capture do %>
<%= render :partial=>'facets' %>
<% end %>
<h1>Bulk update operations</h1>
<button id="get_druids" name="get_druids" onclick="get_druids();">Get druids from search</button>
<button onclick="$('#pid_list').show(400)">Paste a druid list</button>
<div id="pid_list" name="pid_list" style="display:none;" class="bulk_operation">
	<h1>Druids</h1>
	<p>Bulk actions will be performed on this list of druids. Modify the list or paste a list of druids here to operate on them instead.</p>
	<br><textarea id="pids" name="pids"></textarea><br>
	<button id="prepare" name="prepare" onclick="$('#open').show(400);">Prepare objects</button>
	<button onclick="$('#close').show(400)">Close versions</button>
	<button id="reindex_show" name="reindex_show" onclick="$('#reindex').show(400)">Reindex</button>
	<button id="republish_show" name="republish_show" onclick="$('#republish').show(400)">Republish</button>
	<button onclick="$('#purge').show(400)">Purge</button>
	<button onclick="$('#detect_duplicate_encoding').show(400)">Detect duplicate xml encoding</button>
	<button onclick="$('#create_desc_md').show(400)">Create MODs from label	</button>
	<%if current_user.is_admin%><button onclick="$('#release_hold').show(400)">Release for ingest</button><button onclick="$('#remove_duplicate_encoding').show(400)">Remove duplicate xml encoding</button>
	<%end%>
	<div style="display:none" id="updates" name="updates">
		<label>Object Updates</label><br>
		<button id="show_source_id" name="show_source_id" onclick="$('#source_id').show(400);get_source_ids();">Source Id</button>
		<button onclick="$('#content_type').show(400)">Content type</button>
		<button onclick="$('#rights').show(400)">Object rights</button
		<button onclick="$('#add_collection').show(400)">Add collection</button
	</div>
</div>
<div class="bulk_operation" id="open" name="open">
	<h1>Open new versions if needed</h1>
	<label for="severity">Change type</label>
	<select id="severity" name="severity">
		<option value="major">Major</option>
		<option value="minor">Minor</option>
		<option value="admin">Admin</option>
	</select>
	<br>
	<label for="description">Change description</label><br>
	<input type="text" id="description" name="description" />
	<br>
	<button id="prepare_button" name="prepare_button" onclick="fetch_druids(open_version);$('#open').hide(400);">Prepare objects for modification</button><br>
</div>
<br>

<div class="bulk_operation" id="close" name="close">
	<h1>Close a version of the items so the changes can be accessioned</h1>
	<label for="severity">Type</label>
	<select id="severity" name="severity">
		<option value="major">Major</option>
		<option value="minor">Minor</option>
		<option value="admin">Admin</option>
	</select>
	<br>
	<label for="description">version description</label><br>
	<input type="text" id="description" name="description" >
	<br>
	<button onclick="fetch_druids(close_version);$('#close').hide(400);">Close objects</button><br>
</div>

<div class="bulk_operation" id="create_desc_md" name="create_desc_md">
	<h1>Create minimal descriptive metadata from the title.</h1>
	<p>This can only be performed on items which are stopped in the accessioning pipeline due to errors.</p>
	<button onclick="fetch_druids(create_desc_md);$('#create_desc_md').hide(400);">Create Mods</button><br>
</div>
<div class="bulk_operation" id="add_collection" name="add_collection">
	<h1>Add these objects to a collection</h1>
	<p>This does not remove them from existing collections</p>
	<%=select_tag :collection_select, options_for_select(current_user.permitted_collections)%>
	<button onclick="fetch_druids(add_collection);$('#add_collection').hide(400);">Add Collection</button><br>
</div>
<br>

<div class="bulk_operation" id="content_type" name="content_type">
	<%
	current_content_types=[]
	count=1
	@response['facet_counts']['facet_fields']['content_type_facet'].each do |k|
	if count %2 == 1
		current_content_types << k
	end
	count +=1
	end
	if current_content_types==[]
		current_content_types << 'none'
	end
	%>
	<h1>Set content and resource types</h1>
	<p>This searches for items with the old content type and changes them to the new content type, along with changing any resources of the old type to the new type.</p>
	<label>Old content type</label>
	<%=select_tag :old_content_type, options_for_select(current_content_types) %><br>
	<label>Old resource type</label>
	<%=select_tag :old_resource_type, options_for_select(resource_types) %><br>
	<label>New content type</label>
	<%=select_tag :new_content_type, options_for_select(content_types) %><br>
	<label>New resource type</label>
	<%=select_tag :new_resource_type, options_for_select(resource_types) %><br>
	<button onclick="fetch_druids(set_content_type);$('#content_type').hide(400);">Set content types</button>
</div>
<div class="bulk_operation" id="purge" name="purge">
	<h1>Purge items that have been registered but have not been submitted for accessioning from fedora</h1>
	<button onclick="fetch_druids(purge);$('#purge').hide(400);">Purge objects from fedora</button><br>
</div>

<div class="bulk_operation" id="remove_duplicate_encoding" name="remove_duplicate_encoding">
	<h1>Check whether items have duplicate xml encoding</h1>
	<button onclick="fetch_druids(remove_duplicate_encoding);$('#remove_duplicate_encoding').hide(400);">Remove duplicate encoding</button><br>
</div>
<div class="bulk_operation" id="detect_duplicate_encoding" name="detect_duplicate_encoding">
	<h1>Check whether items have duplicate xml encoding</h1>
	<button onclick="fetch_druids(detect_duplicate_encoding);$('#detect_duplicate_encoding').hide(400);">Check for duplicate encoding</button><br>
</div>
<div class="bulk_operation" id="release_hold" name="release_hold">
	<h1>Release to SDR-Ingest</h1>
	<button id="release_hold" name="release_hold" onclick="fetch_druids(release_hold);$('#release_hold').hide(400);">Release object</button>
</div>
<div class="bulk_operation" id="reindex" name="reindex">
	<h1>Reindex items</h1>
	<button id="reindex_button" name="reindex_button" onclick="fetch_druids(reindex);$('#reindex').hide(400);">Update DOR/Argo index for object</button>
</div>
<div class="bulk_operation" id="republish" name="republish">
	<h1>Republish items</h1>
	<button id="republish_button" name="republish_button" onclick="fetch_druids(republish);$('#republish').hide(400);">Refresh metadata on PURL</button>
</div>
<div class="bulk_operation" id="source_id">
	<h1>Change source id</h1>
	<p>This needs a list of pids and source ids, with a space between the pid and the corresponding source id. ex.<br>druid:bc088fn5010 fuller:M1090_S15_B02_F12_0007</p>
	<textarea style="width:50%" id="source_ids" name="source_ids"></textarea><br>
	<button id="set_source_id" name="set_source_id" onclick="source_id();$('#source_id').hide(400);">Update source ids</button>
</div>
<div class="bulk_operation" id="rights" name="rights">
	<h1>Set object rights</h1>
	<%=select_tag :rights_select, options_for_select(['world','stanford', 'none', 'dark'])%>
	<button id="rights_button" name="rights_button" onclick="fetch_druids(set_rights);$('#rights').hide(400);">Set rights</button>
</div>
<button onclick="stop_all();">Stop</button>

<br><div style="display:none;width:50%" id="log" name="log"></div></div>