<% content_for :head do %>
<%= javascript_include_tag 'bulk', 'data-turbo-track': 'reload' %>
<script type="text/javascript">
report_model = {
  total_rows: <%= @response['response']['numFound'] %>,
  data_url: <%= report_pids_url(params.to_unsafe_h.merge(format: 'json')).to_json.html_safe %>,
}
cons=[];
function catalog_url(element)
{
  url='<%= link_to 'druid:xxxxxxxxx', solr_document_path(id: 'druid:xxxxxxxxx', bulk: 'true'), target: '_blank', rel: 'noopener' %>'
  url=url.replace(/xxxxxxxxx/g,element);
  return url;
}
set_rights_url='<%= set_rights_item_path(id: 'druid:xxxxxxxxx', bulk: 'true') %>'
</script>

<style>
.bulk_operation{border:1px;border-style:solid;padding:25px;margin-top:25px;display:none}
.error{color:red}

ul{
  display:inline-block;
  vertical-align:top;
}
ul li{
  list-style-type: none;
}
</style>
<% end %>

<% @page_title = "#{application_name} Search Results" %>
<% content_for(:head) { render 'catalog/opensearch_response_metadata', response: @response } %>
<% if has_search_parameters? %>
  <%= render 'did_you_mean' %>
  <%= render 'constraints', localized_params: params %>
  <%= render 'report_view_toggle', localized_params: params %>
<% end %>

<h1>Bulk update operations</h1>

<% if search_state.has_constraints? %>
  <button class="btn btn-primary" id="get_druids" name="get_druids">Get druids from search</button>
<% end %>
<button class="btn btn-primary" id="paste-druids-button">Paste a druid list</button>

<div id="pid_list" name="pid_list" style="display:none;" class="bulk_operation">
  <h1>Druids</h1>

  <div class="mb-3">
    <label for="pids">Bulk actions will be performed on this list of druids. Modify the list or paste a list of druids here to operate on them instead.</label>
    <textarea id="pids" name="pids" class="form-control" rows="8"></textarea>
  </div>

  <div id="buttons">
    <div class="row">
      <div class="col-sm-12"><strong>Options that require versioning</strong></div>
    </div>
    <div class="row bulk-buttons-row">
      <div class="col-sm-2">
        <button class="btn btn-primary btn-block" id="set-object-rights-button">Set object rights</button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="bulk_operation" id="content_type" name="content_type">
  <% current_resource_types = [['none', '']] + Constants::RESOURCE_TYPES.keys
     new_content_types = [['none', '']] + Constants::CONTENT_TYPES.keys
     new_resource_types = [['none', '']] + Constants::RESOURCE_TYPES.keys %>
  <h1>Set content and resource types</h1>
  <p>
    Given the above list of druids, the following will be performed on each object:<br>
    <%= I18n.t('argo.content_type.update_explanation_bulk') %>
  </p>
  <p><%= I18n.t('argo.content_type.suggeted_mappings').html_safe %></p>
  <p>More complex updates should be executed by hand on the datastream XML of individual objects.</p>
  <p>
    <label>Old resource type</label>
    <%= select_tag :old_resource_type, options_for_select(current_resource_types) %><br>
    <label>New content type</label>
    <%= select_tag :new_content_type, options_for_select(new_content_types) %><br>
    <label>New resource type</label>
    <%= select_tag :new_resource_type, options_for_select(new_resource_types) %><br>
    <button class="btn btn-primary" id="confirm-set-content-type-button">Set content types</button>
  </p>
</div>

<div class="bulk_operation" id="rights" name="rights">
  <h1>Set object rights</h1>
  <%= select_tag :rights_select, options_for_select(Constants::REGISTRATION_RIGHTS_OPTIONS) %>
  <button class="btn btn-primary" id="rights_button" name="rights_button">Set rights</button>
</div>
<button class="btn btn-primary stop_button" id="stop" style="display:none" name="stop">Stop</button>

<br><div style="display:none;width:50%" id="log" name="log"></div></div>
