<% extra_head_content << capture do %>
  <link rel="alternate" type="application/xml" title="Solr" href="<%=build_solr_request_from_response%>">
  <script type="text/javascript">
    report_model = {
      total_rows: <%= @response['response']['numFound'] %>,
      data_url: <%= report_data_url(params.merge(:format => 'json')).to_json.html_safe %>,
      download_url: <%= report_download_url(params).to_json.html_safe %>,
      column_model: <%= Report.blacklight_config.column_model.to_json.html_safe %>
    }
  </script>
<% end %>
<% unless has_search_parameters? %>
	<%# if there are no input/search related params, display the "home" partial -%>
	<%= render 'home' %>
<% else %>
  <% @page_title = "#{application_name} Search Results" %>
  <% extra_head_content << render_opensearch_response_metadata.html_safe %>
	<%= render :partial => 'search_form' %>
  <% if has_search_parameters? %>
    <%= render :partial => 'did_you_mean' %>
    <%= render 'constraints', :localized_params=>params %>
  <% end %>
  
	<% sidebar_items << capture do %>
    <%= render :partial=>'facets' %>
	<% end %>

  <table id="report_grid"></table>
  <div id="preport_grid"></div>
<% end %>
