<% content_for :head do %>
  <%= javascript_pack_tag 'report' %>
  <script type="text/javascript">
    report_model = {
      total_rows: <%= @response['response']['numFound'] %>,
      data_url: <%= report_data_url(params.to_unsafe_h.merge(format: 'json')).to_json.html_safe %>,
      download_url: <%= report_download_url(params.to_unsafe_h).to_json.html_safe %>,
      column_model: <%= Report::COLUMN_MODEL.to_json.html_safe %>
    }
  </script>
<% end %>

<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>
<div id="content" class="col-md-9 col-sm-8">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>
    <% @page_title = "#{application_name} Search Results" %>
    <% content_for(:head) { render_opensearch_response_metadata.html_safe } %>
    <% if has_search_parameters? %>
      <%= render partial: 'did_you_mean' %>
      <%= render 'constraints', localized_params: params %>
    <% end %>

    <%= render 'catalog/report_view_toggle' %>

    <div id="report_container">
      <table id="report_grid"></table>
      <div id="preport_grid"></div>
    </div>
    <%= render partial: 'report/column_selector' %>

  <% end %>
</div>
