<% content_for :head do %>
  <%= javascript_pack_tag 'report' %>
  <script type="text/javascript">
    report_model = {
      total_rows: <%= @response['response']['numFound'] %>,
      data_url: <%= report_data_url(params.to_unsafe_h.merge(format: 'json')).to_json.html_safe %>,
      download_url: <%= report_download_url(params.to_unsafe_h).to_json.html_safe %>,
      column_model: <%= Report.blacklight_config.column_model.to_json.html_safe %>
    }
  </script>
<% end %>

<% content_for(:sidebar) do %>
  <%= render 'search_sidebar' %>
<% end %>

<% unless has_search_parameters? %>
  <%# if there are no input/search related params, display the "home" partial -%>
  <%= render 'home' %>
<% else %>
  <% @page_title = "#{application_name} Search Results" %>
  <% content_for(:head) { render 'catalog/opensearch_response_metadata', response: @response } %>
  <% if has_search_parameters? %>
    <%= render 'did_you_mean' %>
    <%= render 'constraints', localized_params: params %>
  <% end %>

  <%= render 'catalog/report_view_toggle' %>

  <div id="report_container">
    <table id="report_grid"></table>
    <div id="preport_grid"></div>
  </div>
  <%= render 'report/column_selector' %>

<% end %>
