<% @page_title = "#{application_name} Queue Status" %>
<% content_for(:head) { render_opensearch_response_metadata.html_safe } %>

<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <% if has_search_parameters? %>
    <%= render partial: 'did_you_mean' %>
    <%= render 'constraints', localized_params: params %>
  <% end %>
  <%= render 'catalog/report_view_toggle' %>
  <a href="<%= Settings.robot_status_url %>" target="_blank">Robots queue/job status</a>
  <div data-controller="workflow-grid" data-workflow-grid-url="<%= url_for(search_state.to_h) %>" data-workflow-grid-refresh-interval="10000">
    <%= render Throbber.new %>
  </div>
</div>
