<% @page_title = "#{application_name} Queue Status" %>
<% content_for(:head) { render 'catalog/opensearch_response_metadata', response: @response } %>

<% content_for(:sidebar) do %>
  <%= render 'search_sidebar' %>
<% end %>

<% if has_search_parameters? %>
  <%= render 'did_you_mean' %>
  <%= render 'constraints', localized_params: params %>
<% end %>
<%= render 'catalog/report_view_toggle' %>
<a href="<%= Settings.robot_status_url %>" target="_blank">Robots queue/job status</a>
<div data-controller="workflow-grid" data-workflow-grid-url="<%= url_for(search_state.to_h) %>" data-workflow-grid-refresh-interval="10000">
  <%= render Throbber.new %>
</div>
