<%if(params[:edit])

 if @user and (@user.is_admin or (@obj.can_manage_content?(@user.roles(@obj.admin_policy_object.pid)) and @obj.can_manage_desc_metadata?(@user.roles(@obj.admin_policy_object.pid)))) %>
  <%= form_tag url_for(:controller => :items, :action => :datastream_update), :method => :POST do%>
    <input type="hidden" name="id" value="<%=@obj.pid %>" />
    <input name="dsid" id="datastream" type="hidden" value="<%=params[:dsid]%>"/>
    <textarea name="content" id="content"><%=@obj.datastreams[params[:dsid]].content.to_s %></textarea><br/>
    <button type="submit" id="update">Update Datastream</button>
  <% end %>

  </div>
  <%
  end
else
  #if the user is a repo admin or is permitted to manage both content and rights, display raw xml editing
%>
  <%=
  if @user and (@user.is_admin or @obj.can_manage_content?(@user.roles(@obj.admin_policy_object.pid))) and (@obj.datastreams[params[:dsid]].respond_to? :ng_xml or params[:dsid] == 'RELS-EXT') and params[:dsid] != 'workflows'
     link_to 'Edit', ds_aspect_view_catalog_path(params[:id], params[:dsid],:edit=>'true'), :title => params[:dsid], :data => { ajax_modal: 'trigger' }
  end
  %>
<%
  content = if params[:dsid] == 'full_dc'
    @obj.generate_dublin_core.prettify
  elsif @obj.datastreams[params[:dsid]].respond_to? :ng_xml
    Nokogiri::XML(@obj.datastreams[params[:dsid]].ng_xml.to_s, &:noblanks).to_s
  else
    Nokogiri::XML(@obj.datastreams[params[:dsid]].content, &:noblanks).to_s
  end
  raise ActionController::RoutingError.new('Not Found') if content.nil?
  output = CodeRay::Duo[:xml, :div].highlight content
%>
<% unless params[:dsid] == 'full_dc' %>
  <div class="CodeRay" style="color: gray"><pre><%= render_ds_profile_header @obj.datastreams[params[:dsid]] %></pre></div>
<% end %>
<%= output.html_safe %>
<%end%>
