<%= form_tag url, method: method, data: { behavior: 'apo-form' } do %>

  <div class="form-group">
    <label>Title</label><br/>
    <input type="text" style="width:auto" size="40" id="title" name="title" value="<%= @form.mods_title %>"></input>
    <span id="title-err-msg-elt" class="apo-register-error"></span>
  </div>

  <div class="form-group">
    <label>Agreement</label><br/>
    <%=select_tag :agreement, options_for_select(agreement_options)%>
  </div>

  <div class="form-group">
    <label>Descriptive Metadata format</label><br/>
      <%= select_tag :desc_md, options_for_select(options_for_desc_md, @form.desc_metadata_format) %>
      <%= select_tag :metadata_source, options_for_select(apo_metadata_sources, @form.metadata_source) %>
  </div>

  <div class="form-group">
    <label>Roles</label><br/>
    <% @form.permissions.each do |perm| %>
    <% end %>
    <p>These roles govern access to all objects registered under this APO.<br/>
      <ul>
        <li>The default groups shown should be included unless they are to be explicitly excluded.</li>
        <li>Values may be separate by commas, spaces or new lines.</li>
    </ul>
    <div class="register-label-div">Manager</div>
    <input id="managers" name="managers" type="text" style="width:90%" value="<%= @form.managers %>"/><br/>
    <p class="help" style="margin-left:90px;font-size:.8em">Able to make changes to objects, including metadata and content</p>
    <div class="register-label-div">Viewer</div>
    <input type="text" id="viewers" name="viewers" style="width:90%" value="<%= @form.viewers %>"/>
    <p class="help" style="margin-left:90px;font-size:.8em">View only access to the objects</p>
  </div>


  <div class="form-group">
    <% if @form.default_collection_objects.present? %>
      <label>Default Collections</label><br/>
      <% @form.default_collection_objects.each do |col| %>
        <%= link_to col.label, solr_document_path(id: col.pid)%> <%= link_to('(remove)', delete_collection_apo_path(collection: col.pid, id: @form), confirm: 'You are about to leave the page, are you sure?') %><br/>
      <% end %>
    <% end %>
    <br/>
    <input checked type="radio" name="collection_radio" value="none" onclick="$('.collection_div').hide();"/>
    <label>Don't add a Collection</label>
    <input type="radio" name="collection_radio" value="select" onclick="$('.collection_div').hide();$('#select-collection').show();"/>
    <label>Choose a Default Collection</label>
    <% if @form.new_record? %>
      <input type="radio" name="collection_radio" value="create" onclick="$('.collection_div').hide();$('#create-collection').show();"/>
      <label>Create a Collection</label>
      <input type="radio" name="collection_radio" value="create" onclick="$('.collection_div').hide();$('#create-collection-catkey').show();"/>
      <label>Create a Collection from Symphony</label><br/>
    <% end %>
    <div id="select-collection" class="collection_div" style="display:none">
      <%= select_tag :collection, options_for_select(current_user.permitted_collections)%><br/>
    </div>
    <div id="create-collection" class="collection_div" style="display:none">
      <div class="register-label-div">Collection Title</div><input type="text" id="collection_title" name="collection_title" style="width:90%" value=""/>
      <div class="register-label-div">Collection Abstract</div><textarea id="collection_abstract" name="collection_abstract" style="width:90%" ></textarea>
      <div class="register-label-div">Collection Rights</div>
        <%=select_tag :collection_rights, options_for_select(Constants::DEFAULT_RIGHTS_OPTIONS, 'world' )%><br/>
    </div>
    <div id="create-collection-catkey" class=" collection_div" style="display:none">
      <div class="register-label-div">Collection Catkey</div><input type="text" id="collection_catkey" name="collection_catkey" style="width:90%" value=""/>
      <div class="register-label-div">Collection Rights</div>
        <%=select_tag :collection_rights_catkey, options_for_select(Constants::DEFAULT_RIGHTS_OPTIONS, 'world' )%><br/>
    </div>
  </div>
  <div style="border-top: 1px solid #CCC;padding: 8px 0px 12px;margin-top: 10px;width:95%">
    <label style="font-size:1.2em">Object defaults</label>
    <p>The following defaults will apply to all newly registered objects.</p>
  </div>

  <div class="form-group">
    <label>Default Object Rights</label><br/>
      <%=select_tag :default_object_rights, options_for_select(Constants::DEFAULT_RIGHTS_OPTIONS, @form.default_rights )%>
  </div>
  <div class="form-group">
    <label>Default Use and Reproduction statement</label><br/>
    <p>See <%=link_to 'here', 'https://consul.stanford.edu/display/APO/Sample+Access+Condition+statements', :target => "_blank"%> for sample Use and Reproduction statements.</p>
    <textarea style="width:95%;height:40px" rows="2" name="use" id="use"><%= @form.use_statement %></textarea>
  </div>

  <div class="form-group">
    <label>Default Copyright statement</label><br/>
    <p>See <%=link_to 'here', 'https://consul.stanford.edu/display/APO/Sample+Access+Condition+statements', :target => "_blank"%> for sample Copyright statements.</p>
    <textarea style="width:95%;height:40px" id='copyright' name="copyright"><%= @form.copyright_statement %></textarea>
  </div>
  <div class="form-group">
    <label>Default use license</label><br/>
      <%=select_tag :use_license, options_for_select(license_options(@object), @form.use_license)%>
  </div>

  <div class="form-group">
    <label>Default workflow</label><br/>
    <%=select_tag :workflow, options_for_select(workflow_options, @form.default_workflow)%>
  </div>
  <div class="form-group">
    <% if @form.new_record? %>
      <%= submit_tag 'Register APO', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', '/', class: 'btn btn-default' %>
    <% else %>
      <%= submit_tag 'Update APO', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', solr_document_path(@form), class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
