<div>
	<label>Title</label><br>
	<%=form_tag url_for(:controller => :apo, :action => :update_title, :id => @object.pid) do%>
	<input type="text" style="width:auto" size="100" value="<%=@object.label%>"></input>
	<button>Update title</button>
	<%end%>
</div>
<div>
	<label>Descriptive Metadata format</label>
	<%=form_tag url_for(:controller => :apo, :action => :update_desc_metadata, :id => @object.pid) do%>
		<%=select_tag :desc_md, options_for_select(options_for_desc_md, @object.desc_metadata_format)%>
		<button>Save</button>
	<%end%>
</div>
<div>
	<label>Default Collections</label>
	<ul>
		<%@collections.each do |col|%>
		<li><%=col.label%><%=link_to image_tag('unavailable.png'), url_for(:controller => :apo, :action => :delete_collection)%></li>
		<%end%>
	</ul>
	<%=form_tag url_for(:controller => :apo, :action => :add_collection, :id => @object.pid) do%>
		<%= select_tag :collection, options_for_select(current_user.permitted_collections)%>
		<button>Add default collection</button>
	<%end%>
</div>
<div>
	<%@object.roles.each do |role, members|%>
	<label><%=role%></label>
	<ul>
		<%members.each do |member|%>
		<li><%=member%> <%= link_to image_tag('unavailable.png'), url_for(:controller => :apo, :action => :delete_role, :entity => member)%></li>
		<%end%>
		<%=form_tag url_for(:controller => :apo, :action => :add_roleplayer, :role => role, :id => @object.pid) do%>
		<label>Add roleplayer</label><input id="roleplayer" name="roleplayer" type="text"></input>
		<%end%>
	</ul>
	<%end%>
	<label>Add new role</label>
	<%=form_tag url_for(:controller => :apo, :action => :add_roleplayer, :id => @object.pid) do%>
	<%=select_tag :role, options_for_select(current_user.known_roles)%>
	<label>roleplayer</label><input id="roleplayer" name="roleplayer" type="text"></input>
	<button>Add group in new role</button>
	<%end%>
</div>
<div>
	<label>Use</label>
	<%=form_tag url_for(:controller => :apo, :action => :update_use, :id => @object.pid) do%>
		<textarea><%=@object.use_statement%></textarea>
		<button>Save Use</button>
	<%end%>
</div>
<div>
	<label>Copyright</label><br>
	<%=form_tag url_for(:controller => :apo, :action => :update_copyright, :id => @object.pid) do%>
		<textarea><%=@object.copyright_statement%></textarea>
		<button>Save Copyright</button>
	<%end%>
</div>
<div>
	<label>Creative Commons license</label>
	<%=form_tag url_for(:controller => :apo, :action => :update_creative_commons, :id => @object.pid) do%>
		<%=select_tag :cc_license, options_for_select(creative_commons_options,@object.creative_commons_license)%>
		<button>Save</button>
	<%end%>
</div>
<div>
	<label>Default Object Rights</label>
	<%=form_tag url_for(:controller => :apo, :action => :update_default_object_rights, :id => @object.pid) do%>
		<%=select_tag :default_object_righs, options_for_select(default_rights_options, @object.default_rights)%>
		<button>Save</button>
	<%end%>
</div>
<div>
	<label>Workflows</label>
	<%=form_tag do%>
	<ul>
		<%@object.default_workflows.each do |workflow|%>
			<li><%=workflow%><%=link_to image_tag('unavailable.png'), url_for(:controller => :apo, :action => :remove_workflow, :id => @object.pid, :workflow => workflow)%></li>
		<%end%>
		</ul>
	<%end%>
</div>
<div>
	<%=form_tag url_for(:controller => :apo, :action => :add_workflow, :id => @object.pid) do%>
	<%=select_tag :workflow, options_for_select(workflow_options)%>
	<button>Add workflow</button>
	<%end%>
</div>
<div>
	<%=form_tag url_for(:controller => :apo, :action => :update_agreement, :id => @object.pid) do%>
	<%=select_tag :agreement, options_for_select(agreement_options)%>
	<button>Save</button>
	<%end%>
</div>
	