<div data-ajax-modal="container">
    <div class="container-fluid">
    	<div class="row">
    	    <div class="col-md-8"><strong>Datastream spreadsheet bulk upload for APO <%= @object.id %></strong></div>
    	    <div class="col-md-4"><%= link_to 'Download blank spreadsheet', spreadsheet_template_apo_index_path %></div>
    	</div>
        <%
            dc = Nokogiri::XML(@object.datastreams['DC'].content, &:noblanks)
    	    title_node = dc.xpath('/oai_dc:dc/dc:title').first
    	     %>
	<div class="row spreadsheet-row">
    	    <div class="col-md-1"></div>
    	    <div class="col-md-11">"<%= title_node.content %>"</div>
	</div>
	<div class="row spreadsheet-row">
	    <div class="col-md-12">
		<%= link_to("Submit new file ...", bulk_upload_form_apo_path(@object.id), :class => "smallDialogLink button btn btn-primary", data: { ajax_modal: 'trigger' }) %>
	    </div>
	</div>
</div>




<% if false %>

    <%= form_tag({action: :upload}, multipart: true) do %>
            <div class="container-fluid">
    	    <div class="row">
    		<div class="col-md-8"><strong>Datastream spreadsheet bulk upload for APO <%= @object.id %></strong></div>
    		<div class="col-md-4"><%= link_to 'Download blank spreadsheet', spreadsheet_template_apo_index_path %></div>
    	    </div>
    	    <div class="row">
    		<%
    		     dc = Nokogiri::XML(@object.datastreams['DC'].content, &:noblanks)
    		     title_node = dc.xpath('/oai_dc:dc/dc:title').first
    		     %>
    		<div class="col-md-1"></div>
    		<div class="col-md-11"><%= title_node.content %></div>
    	    </div>
    	    <div class="row spreadsheet-row">
    		<div class="col-md-12">
    		    <%= file_field_tag :spreadsheet_file %>
    		    <input type="hidden" name="druid" value="<%=@object.id %>" />
    		</div>
    	    </div>
    	    <div class="row spreadsheet-row">
    		<div class="col-md-12">
    		    <button type="submit" class="btn btn-default">Submit</button>
    		</div>
    	    </div>
    	</div>
        <% end %>
        <% if false %>
        </form>
    <% end %>
<% end %>
