<% @title = "Register APO" %>
<div style="width:1052px;background-color:0000cc;color:white;font-size:3em;">
  <span style="margin-left:50px;"><%=@object ? 'Edit APO' : 'Register APO'%></span>
  </div>
<div style="width:950px; background:white; margin-top:0px;margin-bottom:50px;padding-left:50px;padding-right:50px;border:1px;border-style:solid"%>

<%
url_params={:controller => :apo, :action => :register}
if @object
  url_params[:id] = @object.pid
  url_params[:action] = :update
end
%>
<%= form_tag url_for(url_params), :id => 'apo_form' do%>

<br/><div class="register-div">
  <label>Title</label><br/>
  <input type="text" style="width:auto" size="40" id="title" name="title" value="<%=@object ? @object.mods_title : ''%>"></input>
  <span id="title-err-msg-elt" class="apo-register-error"></span>

</div>
<br/><div class="register-div">
  <label>Agreement</label><br/>
  <%=select_tag :agreement, options_for_select(agreement_options)%>
</div>

<br/><div class="register-div">
  <label>Descriptive Metadata format</label><br/>
    <%=select_tag :desc_md, options_for_select(options_for_desc_md, @object ? @object.desc_metadata_format : 'MODS')%>
    <%=select_tag :metadata_source, options_for_select(apo_metadata_sources,@object ? @object.metadata_source : 'DOR')%>
</div>

<br/><div class="register-div">
  <label>Roles</label><br/>
  <p>These roles govern access to all objects registered under this APO.<br/>
    <ul><li>
          Provide one or more workgroups as <span style="font-style:italic">stem</span>:<span style="font-style:italic">groupname</span> (e.g., "dlss:dpg-staff") or sunetids as sunetid:<span style="font-style:italic">value</span> (e.g., "sunetid:jsmith").</li>
          <li>The default groups shown should be included unless they are to be explicitly excluded.</li>
          <li>Values may be separate by commas, spaces or new lines.</li>
    <li>Common workgroups:  dlss:dpg-staff  dlss:dpg-hourlies  dlss:forensics-staff  dlss:smpl-staff  sulair:map-staff  sulair:map-hourlies</li>
  </ul>
  <div class="register-label-div">Manager</div><input id="managers" name="managers" type="text" style="width:90%" value="<%= @object ? @managers.join(', ') : ApoController::DEFAULT_MANAGER_WORKGROUPS.join(', ') %>"/><br/>
  <p class="help" style="margin-left:90px;font-size:.8em">Able to make changes to objects, including metadata and content</p>
  <p id="managers-err-msg-elt" class="apo-register-error"></p>
  <div class="register-label-div">Viewer</div><input type="text" id="viewers" name="viewers" style="width:90%" value="<%= @object and @viewers.length>0 ? @viewers.join(', ') : ''%>"/>
  <p class="help" style="margin-left:90px;font-size:.8em">View only access to the objects</p>
  <p id="viewers-err-msg-elt" class="apo-register-error"></p>
</div>
<div class="register-div">
  <%
  if @object and @object.default_collections
    %><label>Default Collections</label><br/><%
    @collections.each do |col|
      %><%=link_to col.label, catalog_path(:id =>col.pid)%> <%=link_to('(remove)',delete_collection_apo_path(:collection => col.pid, :id => @object.pid),:confirm => 'You are about to leave the page, are you sure?')%><br/><%
    end
  end
  %>
  <br/>
  <input checked type="radio" name="collection_radio" value="none" onclick="$('.collection_div').hide();"/>
  <label>Don't add a Collection</label>
  <input type="radio" name="collection_radio" value="select" onclick="$('.collection_div').hide();$('#select-collection').show();"/>
  <label>Choose a Default Collection</label>
  <%if !@object%>
  <input type="radio" name="collection_radio" value="create" onclick="$('.collection_div').hide();$('#create-collection').show();"/>
  <label>Create a Collection</label>
  <input type="radio" name="collection_radio" value="create" onclick="$('.collection_div').hide();$('#create-collection-catkey').show();"/>
  <label>Create a Collection from Symphony</label><br/>
  <%end%>
  <div id="select-collection" class="collection_div" style="display:none">
    <%= select_tag :collection, options_for_select(current_user.permitted_collections)%><br/>
  </div>
  <div style="display:none"><%=render :partial => '/items/rights_help'%></div>
  <div id="create-collection" class="collection_div" style="display:none">
    <div class="register-label-div">Collection Title</div><input type="text" id="collection_title" name="collection_title" style="width:90%" value=""/>
    <div class="register-label-div">Collection Abstract</div><textarea id="collection_abstract" name="collection_abstract" style="width:90%" ></textarea>
    <img class='help_icon' alt="help" src="/assets/help.png" onclick="$('#help_dialog').dialog('open');"/>
    <div class="register-label-div">Collection Rights</div>
      <%=select_tag :collection_rights, options_for_select(default_rights_options, 'world' )%><br/>
  </div>
  <div id="create-collection-catkey" class=" collection_div" style="display:none">
    <div class="register-label-div">Collection Catkey</div><input type="text" id="collection_catkey" name="collection_catkey" style="width:90%" value=""/>
    <img class='help_icon' alt="help" src="/assets/help.png" onclick="$('#help_dialog').dialog('open');"/>
    <div class="register-label-div">Collection Rights</div>
      <%=select_tag :collection_rights_catkey, options_for_select(default_rights_options, 'world' )%><br/>
  </div>
</div>
<div style="border-top: 1px solid #CCC;padding: 8px 0px 12px;margin-top: 10px;width:95%">
<label style="font-size:1.2em">Object defaults</label>
<p>The following defaults will apply to all newly registered objects.</p>
</div>

<br/><div class="register-div">
  <label>Default Object Rights</label><br/>
    <%=select_tag :default_object_rights, options_for_select(default_rights_options, @object ? @object.default_rights : 'world' )%>
</div>
<br/><div class="register-div">
  <label>Default Use and Reproduction statement</label><br/>
  <p>See <%=link_to 'here', 'https://consul.stanford.edu/display/APO/Sample+Access+Condition+statements', :target => "_blank"%> for sample Use and Reproduction statements.</p>
  <textarea style="width:95%;height:40px" rows="2" name="use" id="use"><%= if @object then @object.use_statement end%></textarea>
</div>

<br/><div class="register-div">
  <label>Default Copyright statement</label><br/>
  <p>See <%=link_to 'here', 'https://consul.stanford.edu/display/APO/Sample+Access+Condition+statements', :target => "_blank"%> for sample Copyright statements.</p>
  <textarea style="width:95%;height:40px" id='copyright' name="copyright"><%= if @object then @object.copyright_statement end%></textarea>
</div>
<br/><div class="register-div">
  <label>Default Creative Commons license</label><br/>
    <%=select_tag :cc_license, options_for_select(creative_commons_options, @object ? @object.creative_commons_license : '')%>
</div>

<br/><div class="register-div">
  <label>Default workflow</label><br/>
  <%=select_tag :workflow, options_for_select(workflow_options, (@object ? @cur_default_workflow : default_workflow_option))%>
</div>
<div style="border-top: 1px solid #CCC;padding: 8px 0px 12px;margin-top: 10px;width:95%">

<button id="register" name="register"><%=@object ? 'Update APO' : 'Register APO' %></button>
<%end%>
<%=button_to 'Cancel', @object ? catalog_path(@object.pid) : '/' %>
</div>
<script type="text/javascript">
  $("#apo_form").validate({
    rules: {
      title: "required",
      // is_valid_role_list is a REST endpoint in ApoController (i.e. /apo/is_valid_role_list)
      managers: {
        remote: "is_valid_role_list"
      },
      viewers: {
        remote: "is_valid_role_list"
      }
    },
    messages: {
      managers: 'Error:  Enter manager workgroup names as "stem:value", e.g., dlss:project-x.  Enter individuals as "sunetid:value".<br/><br/>',
      viewers: 'Error:  Enter viewer workgroup names as "stem:value", e.g., dlss:project-x.  Enter individuals as "sunetid:value".<br/><br/>',
      title: ' &nbsp;&nbsp;Error:  A non-empty title is required.'
    },
    errorClass: 'apo-register-error',
    errorPlacement: function(error, element) {
      var errEltId = element.attr('id') + "-err-msg-elt";
      $("#"+errEltId).html(error.html());
      return true;
    },
    success: function(label) {
      //if we don't define this and return true, but we do define errorPlacement, the error messages never
      //disappear if the field goes valid.  not sure why that is.
      return true;
    }
  })
</script>
