<div style="width:1052px;background-color:0000cc;color:white;font-size:3em;">
  <span style="margin-left:50px;"><%='Create a Collection'%></span>
</div>
<div style="width:950px; background:white; margin-top:0px;margin-bottom:50px;padding-left:50px;padding-right:50px;border:1px;border-style:solid">

<%
url_params={:controller => :apo, :action => :register_collection}
%>
<%= form_tag url_for(url_params), :id => 'collection_form' do%>
<div class="register-div" style="min-height:600px">

  <br/><label>Create a collection that can be assigned to items governed by this APO -- <%= @object.label%><br/></label>
  <br/>
  <input checked type="radio" name="collection_radio" value="create" onclick="$('.collection_div').hide();$('#create-collection').show();"/>
  <label>Create a Collection</label>
  <input type="radio" name="collection_radio" value="create" onclick="$('.collection_div').hide();$('#create-collection-catkey').show();"/>
  <label>Create a Collection from Symphony</label><br/>
  <br/>
  <div id="create-collection" class="collection_div">
    <div class="collection-register-label-div">Collection Title</div><input type="text" id="collection_title" name="collection_title" style="width:80%" value=""/>
    <div class="collection-register-label-div">Collection Abstract</div><textarea id="collection_abstract" name="collection_abstract" style="width:80%" ></textarea><br/>
    <div class="collection-register-label-div">
      Collection Object Visibility
    </div>
      <%=select_tag :collection_rights, options_for_select(default_rights_options, 'world' )%><br/>
  </div>

  <div id="create-collection-catkey" class=" collection_div" style="display:none">
    <div class="collection-register-label-div">Collection Catkey</div><input type="text" id="collection_catkey" name="collection_catkey" style="width:80%" value=""/>
    <div class="collection-register-label-div">
      Collection Object Visibility
    </div>
  </div>
      <%=select_tag :collection_rights_catkey, options_for_select(default_rights_options, 'world' )%><br/>
</div>
</div>

<button id="register" name="register"><%='Register Collection' %></button>
<%end%>
<%=button_to 'Cancel', @object ? catalog_path(@object.pid) : '/', :method => :get %>
</div>
</div>

