<div style="width:1052px;background-color:0000cc;color:white;font-size:3em;">
	<span style="margin-left:50px;"><%='Create Collection'%></span>
	</div>
<div style="width:950px; background:white; margin-top:0px;margin-bottom:50px;padding-left:50px;padding-right:50px;border:1px;border-style:solid">

<%
url_params={:controller => :apo, :action => :register_collection}
%>
<%= form_tag url_for(url_params), :id => 'collection_form' do%>
<div class="register-div" style="min-height:600px">
	<%
	if @object and @object.default_collections
		%><label>Default Collections</label><br><%
		@object.default_collections.each do |col|
			%><%=link_to col, catalog_path(:id =>col)%> <%=link_to('X',delete_collection_apo_path(:collection => col, :id => @object.pid),:confirm => 'You are about to leave the page, are you sure?')%><br><%
		end
	end
	%>
	<br>
	<input checked type="radio" name="collection_radio" value="create" onclick="$('.collection_div').hide();$('#create-collection').show();"/>
	<label>Create a Collection</label>
	<input type="radio" name="collection_radio" value="create" onclick="$('.collection_div').hide();$('#create-collection-catkey').show();"/>
	<label>Create a Collection from Symphony</label><br>
	<br>
	<div id="create-collection" class="collection_div">
		<div class="register-label-div">Collection Title</div><input type="text" id="collection_title" name="collection_title" style="width:90%" value=""/>
		<div class="register-label-div">Collection Abstract</div><textarea id="collection_abstract" name="collection_abstract" style="width:90%" ></textarea>
		<div class="register-label-div">Collection Rights</div>
			<%=select_tag :collection_rights, options_for_select(default_rights_options, 'World' )%><br>
	</div>
	<div id="create-collection-catkey" class=" collection_div" style="display:none">
		<div class="register-label-div">Collection Catkey</div><input type="text" id="collection_catkey" name="collection_catkey" style="width:90%" value=""/>
		<div class="register-label-div">Collection Rights</div>
			<%=select_tag :collection_rights, options_for_select(default_rights_options, 'World' )%><br>
	</div>
</div>
<button id="register" name="register"><%='Register Collection' %></button>
<%end%>
<%=button_to 'Cancel', @object ? catalog_path(@object.pid) : '/' %>
</div>
</div>
