<%= form_with(url: manage_release_job_path) do |f| %>
  <%= f.hidden_field("druids", value: @document.id) %>
  <div class='mb-3'>
    <label>Manage release to discovery applications for <%= @document.object_type %> <%= @document.id %></label>
  </div>
  <h2><%= @document.title %></h2>
  <div class='mb-3'>
    <label>Released for:</label> <%= @document.released_to.to_sentence %>
  </div>
  <%= child_form(f) %>
  <div class='mb-3'>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </div>
<% end %>
