<%= turbo_frame_tag 'access-rights' do %>
  <%= form_with model: @change_set do |f| %>
    <div class="mb-3">
      <%= f.label :view_access %>
      <%= f.select :view_access, [['World', 'world'], ['Dark', 'dark']], {}, class: 'form-select' %>
    </div>
    <div class="float-end">
      = link_to 'Cancel', show_rights_item_path(params[:id])
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
