<% form_id = "content_type_form" %>
<h3 class='modal-title'>Set content type</h3>
<div data-ajax-modal="container">
  <p>
    Replace instances of the old content type and resource type with the newly specified values.  Note that "none" is not a valid choice; it's provided as a placeholder for when no reasonable default can be pre-selected.  "Old Content Type" is always the current content type, since nothing gets updated if content type doesn't get updated (so if you changed that, nothing would get updated).  "Old Resource Type" defaults to the first value in the list of types for the resource elements in the contentMetadata datastream.  "New Content Type" and "New Resource Type" default to the old values, but any of the listed values other than "none" can be chosen for the update.
  </p>
  <p>
    The suggested mappings for content type to resource type are:
    <ul>
      <li><strong>file</strong> file</li>
      <li><strong>image</strong> image</li>
      <li><strong>book</strong> page</li>
      <li><strong>manuscript</strong> page</li>
      <li><strong>map</strong> image</li>
    </ul>
  </p>
  <p>
    More complex updates should be executed by hand on the datastream XML.
  </p>

  <%=form_tag url_for(:controller => :items, :action => :set_content_type, :id => form_id) do%>
  <% old_content_type = begin @object.contentMetadata.contentType[0] rescue '' end  %>
  <% old_resource_type = begin @object.contentMetadata.ng_xml.xpath('/contentMetadata/resource')[0]['type'] rescue '' end %>
  <% display_content_types = ['none'] + content_types %>
  <% display_resource_types = ['none'] + resource_types %>
    <label>Old content type</label>
    <%=old_content_type%><%=hidden_field_tag :old_content_type, old_content_type %><br/>
    <label>Old resource type</label>
    <%=select_tag :old_resource_type, options_for_select(display_resource_types, old_resource_type) %><br/>
    <label>New content type</label>
    <%=select_tag :new_content_type, options_for_select(display_content_types, old_content_type) %><br/>
    <label>New resource type</label>
    <%=select_tag :new_resource_type, options_for_select(display_resource_types, old_resource_type) %><br/>
    <button class='btn btn-default'>Update</button>
  <%end%>
</div>
