
Resource: <%=params[:resource]%>
<%if params[:edit]%>
  <%@content_ds.ng_xml.search('//resource[@id=\''+params[:resource]+'\']').each do |res| %>
    <%label=res.xpath('label')
    if label.length == 1
      label = label.first.content
    else
      label=''
    end
    %>
      <input type="hidden" name="id" value="<%=@object.pid %>" />
      <input type="hidden" name="resource" value="<%=params[:resource]%>">
      Type:<select><option selected="selected" value=<%=res['type']%>><%=res['type']%></option>
        <%valid_resource_types(res['type']).each do |content_type|%>
        <option value=<%=content_type%>><%=content_type%></option>
        <%end%>
        </select><span style="float:right">Sequence:<%= res['sequence']%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Move to <input maxlength="5" style="width:auto;" size="5" type="text" name="sequence"/></span>
      <br/>Label:<input type="text" name="label" style="width:auto;" size="60" value="<%=label%>"/>
      <%@content_ds.ng_xml.search('//resource[@id=\''+params[:resource]+'\']/file').each do |file| %>
      <div class="fileUpdate">
        <img style="height:16px;" onclick="document.getElementById('upload_<%=file['id']%>').style.display='block';" src="/assets/update.png" alt="update"></img>
        <%delete_image_tag=image_tag ('unavailable.png')%>
        <%=link_to(delete_image_tag, '/items/'+params[:id]+'/file/?file_name='+file['id'], :confirm => 'Are you sure you want to delete ' + file['id'] + '?', :method => :delete) %>
        File:<%=file['id']%>
        <span style="float:right">
        <form action="<%='/items/' + params[:id]+'/file/attributes'%>" method="POST">
        <input type="hidden" name="file_name" value="<%=file['id']%>">
        <%
        checked=''
        if(file['publish'] and file['publish']=='yes')
          checked='checked'
        end
        %>
        <input type="checkbox" name="publish" <%=checked%>>publish
        <%checked=''
        if(file['shelve'] and file['shelve']=='yes')
          checked='checked'
        end
        %>
        <input type="checkbox" name="shelve" <%=checked%>>shelve
        <%checked=''
        if(file['preserve'] and file['preserve']=='yes')
          checked='checked'
        end
        %>
        <input type="checkbox" name="preserve" <%=checked%>>preserve
        <button>Save</button>
        </form>

        </span>
        <div>
        <form id="upload_<%=file['id']%>" style="display:none;" action="/items/<%=@object.pid%>/file" method="POST" enctype="multipart/form-data">
          Replace File:
          <input type="hidden" name="id" value="<%=@object.pid %>" />
          <input type="hidden" name="resource" value="<%=params[:resource]%>"/>
          <input type="hidden" name="file_name" value="<%=file['id']%>"/>
          <input type="file" name="uploaded_file">
          <button>Upload</button>
        </form>
        </div>
        </div>
      <%end%>

      <br/><img onclick="document.getElementById('add_file').style.display='block';" src="/assets/add.png" alt="plus icon"></a>
      <!--<br/><button>Delete Resource</button><button>Save</button><button onclick="return(false);">Cancel</button>-->
    <%end%>
    <!-- File upload form -->
    <%@content_ds.ng_xml.search('/contentMetadata/resource[@id=\''+params[:resource]+'\']/file').each do |file| %>
      
  <%end%>
  Add File:
  <form id="add_file" style="display:none" action="/items/<%=@object.pid%>/add_file" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<%=@object.pid %>" />
    <input type="hidden" name="resource" value="<%=params[:resource]%>"/>
    <input type="file" name="uploaded_file"/>
    <button>Upload</button>
  </form>
<%end%>
