<div class="mb-3">
  <%= f.label :view_access %>
  <%= f.select :view_access,
               [['World', 'world'], ['Stanford', 'stanford'], ['Location based', 'location-based'], ['Citation only', 'citation-only'], ['Dark', 'dark']],
               {}, class: 'form-select', data: { action: 'access-rights#updateView', access_rights_target: 'view' } %>
</div>
<div class="mb-3" data-access-rights-target="downloadRow">
  <%= f.label :download_access %>
  <%= f.select :download_access,
               [['World', 'world'], ['Stanford', 'stanford'], ['Location based', 'location-based'], ['None', 'none']],
               {}, class: 'form-select', data: { action: 'access-rights#updateDownload', access_rights_target: 'download' } %>

</div>
<div class="mb-3" data-access-rights-target="locationRow">
  <%= f.label :access_location %>
  <%= f.select :access_location, [nil, 'spec', 'music', 'ars', 'art', 'hoover', 'm&m'],
               {}, class: 'form-select', data: { access_rights_target: 'location' } %>
</div>

<div class="mb-3 form-check" data-access-rights-target="cdlRow">
  <%= f.check_box :controlled_digital_lending, class: 'form-check-input', data: { access_rights_target: 'cdl' } %>
  <%= f.label :controlled_digital_lending, class: 'form-check-label' %>
</div>
