<%= form_with url: descriptive_metadata_import_job_path , class: 'new_bulk_action', data: { turbo_frame: '_top' } do |f| %>
  <span class='help-block'>
    Upload descriptive metadata for objects.
  </span>

  <% if @errors.present? %>
    <div class="alert alert-danger"><%= @errors.to_sentence %></div>
  <% end %>

  <div class='mb-3' id="import-csv">
    <%= f.label :csv_file, 'Upload a CSV file' %>
      <br>
      <small>Each row in the CSV should start with the druid in the first field, followed by the descriptive metadata columns.</small>
    <%= f.file_field :csv_file, class: 'form-control', accept: '.csv' %>
  </div>
  <%= render 'bulk_actions/common_fields', f: f %>
<% end %>
