<%= render BlacklightModalComponent.new do |component| %>
  <% component.header { 'Dublin Core (derived from MODS)' } %>
  <% component.body do %>
    <div class="lightbox-head">
      <span class="section-head-link">
        <%= link_to 'View XML', item_datastream_path(params[:item_id], 'full_dc'), title: 'Dublin Core (derived from MODS)', data: { blacklight_modal: 'trigger' } %>
      </span>
      <%= params[:item_id] %>
    </div>
    <div class="metadata-display">
      <dl>
        <% @fields.each do |field| %>
          <dt><%= field.name %></dt>
          <dd><%= field.value %></dd>
        <% end %>
      </dl>
    </div>
  <% end %>
<% end %>
