<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_title { 'Dublin Core (derived from MODS)' } %>
  <% component.with_body do %>
    <div class="modal-body">
      <div class="lightbox-head">
        <span class="section-head-link">
          <%= link_to 'View XML', full_dc_xml_item_metadata_path(params[:item_id]), title: 'Dublin Core (derived from MODS)', data: { blacklight_modal: 'trigger' } %>
        </span>
        <%= params[:item_id] %>
      </div>
      <div class="metadata-display">
        <dl>
          <% @fields.each do |field| %>
            <dt><%= field.name %></dt>
            <dd><%= field.value %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
<% end %>
