<%= render ShowEmbargoComponent.new(solr_document: document) %>

<div class="row">
  <div class="col">
    <%= render ExternalLinksComponent.new(document: document) %>
    <%= render Show::ControlsComponent.new(solr_document: document, manager: helpers.can?(:manage_item, cocina)) %>
  </div>
</div>

<%= render Show::WorkflowErrorComponent.new(document: document) %>

<div class="row mt-5">
  <div class="col-md-6">
    <%= render Show::Apo::OverviewComponent.new(presenter: presenter) %>

    <%= render Show::Apo::DefaultObjectRightsComponent.new(presenter: presenter) %>
  </div>
  <div class="col-md-6">
    <%= render Show::Apo::DetailsComponent.new(presenter: presenter) %>

    <%= render Show::Apo::RolesComponent.new(presenter: presenter) %>
  </div>
</div>

<div class="accordion">
  <%= render 'datastreams_default', document: document %>
  <%= render 'events_default', document: document %>
  <%= render 'cocina_default', document: document %>
  <%= render 'history_default', document: document %>
</div>
