<%= render ShowEmbargoComponent.new(presenter:) %>

<div class="row">
  <div class="col">
    <%= render Show::ExternalLinksComponent.new(document:, presenter:) %>
    <%= render Show::ControlsComponent.new(presenter:,
                                           manager: helpers.can?(:update, cocina)) %>
  </div>
</div>

<%= render Show::WorkflowErrorComponent.new(document:) %>

<div class="row mt-5">
  <div class="col-md-6">
    <%= render Show::Apo::OverviewComponent.new(presenter:) %>

    <%= render Show::Apo::DefaultObjectRightsComponent.new(presenter:) %>
  </div>
  <div class="col-md-6">
    <%= render Show::Apo::DetailsComponent.new(presenter:) %>

    <%= render Show::Apo::RolesComponent.new(presenter:) %>
  </div>
</div>

<div class="accordion">
  <%= render 'events_default', view_token: %>
  <%= render 'cocina_default', view_token: %>
  <%= render 'history_default', document: %>
</div>
