<%= render ShowEmbargoComponent.new(presenter:) %>

<div class="row">
  <div class="col">
    <%= render Show::ExternalLinksComponent.new(document:) %>
    <%= render Show::ControlsComponent.new(presenter:,
                                           manager: helpers.can?(:update, presenter.cocina)) %>
  </div>
</div>

<%= render Show::WorkflowErrorComponent.new(document:) %>

<div class="row mt-5">
  <div class="col-md-6">
    <%= render Show::Agreement::OverviewComponent.new(presenter:) %>
  </div>
  <div class="col-md-6">
    <%= render Show::Agreement::DetailsComponent.new(presenter:) %>
  </div>
</div>

<div class="accordion">
  <%= render 'events_default', view_token: %>
  <%= render 'cocina_default', view_token: %>
  <%= render 'history_default', document: %>
  <%= render ContentsComponent.new(presenter:) %>
  <%= render TechmdComponent.new(view_token:) %>
</div>
