<div class="argo-show-btn-group">
  <h3 class="button-header">Actions</h3>
  <% if admin_policy? %>
    <%= reindex_button %>
    <%= edit_apo %>
    <%= add_workflow_button %>
    <%= create_collection %>
    <%= upload_mods %>
    <%= purge_button %>
  <% else %>
    <%= reindex_button %>
    <% unless agreement? %>
      <%= manage_release %>
    <% end %>
    <%= republish_button %>
    <%= add_workflow_button %>
    <div class="dropdown d-inline-block">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown-descriptive" data-bs-toggle="dropdown" aria-expanded="false">
        Manage description
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-descriptive">
        <% if catalog_record? %>
          <li><%= link_to refresh_button_label, refresh_metadata_item_path(id: druid),
                          class: "dropdown-item #{'disabled' if button_disabled?}",
                          data: { turbo_method: 'post' } %></li>
        <% end %>
        <li><%= link_to 'Download Cocina spreadsheet', item_descriptive_path(doc, format: :csv), class: 'dropdown-item' %></li>
        <% if open? %>
          <li><%= link_to 'Upload Cocina spreadsheet', edit_item_descriptive_path(doc),
                          class: 'dropdown-item',
                          data: { controller: 'button', action: 'click->button#open' } %></li>
        <% end %>
        <% if catalog_record? && item? %>
          <li><%= link_to 'Manage serials', edit_item_serials_path(doc),
                          class: 'dropdown-item',
                          data: { controller: 'button', action: 'click->button#open' } %></li>
        <% end %>
      </ul>
    </div>
    <%= purge_button %>
    <%= apply_apo_defaults %>
    <%= create_embargo %>
    <%= create_text_extraction %>
  <% end %>
</div>
