<div class="argo-show-btn-group">
  <h3 class="button-header">Actions</h3>
  <% if admin_policy? %>
    <%= reindex_button %>
    <%= edit_apo %>
    <%= add_workflow_button %>
    <%= create_collection %>
    <%= upload_mods %>
    <%= purge_button %>
  <% else %>
    <%= reindex_button %>
    <% unless agreement? %>
      <%= manage_release %>
    <% end %>
    <div class="dropdown d-inline-block">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Manage PURL
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><%= link_to 'Publish', item_publish_path(doc), class: "dropdown-item disabled",
                        data: {
                          turbo_method: 'post',
                          controller: 'button',
                          button_check_url_value: published_workflow_service_path(druid)
                        } %></li>
        <li><%= link_to 'Unpublish', item_publish_path(doc), class: "dropdown-item disabled",
                        data: {
                          turbo_method: 'delete',
                          controller: 'button',
                          button_check_url_value: published_workflow_service_path(druid)
                        } %></li>
      </ul>
    </div>
    <%= add_workflow_button %>
    <%= purge_button %>
    <%= apply_apo_defaults %>
    <%= refresh_metadata if symphony_record? %>
    <%= create_embargo %>
  <% end %>
</div>
