<%= render ShowEmbargoComponent.new(presenter: presenter) %>

<div class="row">
  <div class="col-md-3">
    <%= render Show::Item::ThumbnailComponent.new(document: document) %>
  </div>
  <div class="col-md-9">
    <%= render Show::ExternalLinksComponent.new(document: document) %>
    <%= render Show::ControlsComponent.new(presenter: presenter,
                                           manager: helpers.can?(:manage_item, presenter.item)) %>
  </div>
</div>

<%= render Show::WorkflowErrorComponent.new(document: document) %>

<div class="row mt-5">
  <div class="col-md-6">
    <%= render Show::Item::OverviewComponent.new(presenter: presenter) %>
  </div>
  <div class="col-md-6">
    <%= render Show::Item::DetailsComponent.new(presenter: presenter) %>
  </div>
</div>

<div class="accordion">
  <%= render 'datastreams_default', document: document %>
  <%= render 'events_default', view_token: view_token %>
  <%= render 'cocina_default', document: document %>
  <%= render 'history_default', document: document %>
  <%= render ContentsComponent.new(presenter: presenter) %>
  <%= render TechmdComponent.new(view_token: view_token) %>
</div>
