<% content_for :head do %>
<%= stylesheet_link_tag 'about' %>
<%= javascript_include_tag 'about/jquery.columnizer.min' %>
<script type="text/javascript">
$(document).ready(function() {
  $('#dependencies').columnize({ columns: 4, lastNeverTallest: true });
})
</script>
<% end %>
<div id="about">
<h1>Dependency Versions</h1>
<div id="dependencies">
  <ul>
    <li><b>Argo</b> (<%= Argo.version %>)</li>
    <% Bundler.load.specs.sort_by { |s| s.name }.each do |spec| %>
      <li><b><%= spec.name %></b> (<%= spec.version %><%= spec.git_version %>)</li>
    <% end %>
  </ul>
</div>

<h1>Fedora</h1>
<ul>
  <% ['repositoryName','repositoryBaseURL','repositoryVersion','adminEmail'].each do |k| v = @fedora[k] %>
    <li><%= [k,v].join(': ') %></li>
  <% end %>
</ul>

<h1>Solr Index</h1>
<ul>
  <% ['version','numDocs','maxDoc','current','optimized','hasDeletions','lastModified'].each do |k| v = @solr[k] %>
    <li><%= [k,v].join(': ') %></li>
  <% end %>
</ul>

<h1>Environment</h1>
<% @request_env.each_pair do |section,env| %>
  <h3><%= section %></h3>
  <div class="environment">
    <ul>
      <% env.keys.sort.each do |key| %>
      <li><%= [key,env[key]].join('=') %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>