<%= page_entries_info @exceptions %>
<%= paginate @exceptions %>

<div>
<% @exceptions.each_with_index do |e, i| %>
  <div style="padding-bottom: 1em;">
    <%= l e.created_at, :format => :short %> <%= content_tag :strong,  e.pid, :class => 'pid' %> <%= link_to '[reindex]', dor_reindex_url(e.pid) %>
    <div class="exception" style="display: none; padding-left: 20px;">
      <%= e.exception %>
    </div>
  </div>
<% end %>
</div>
<%= paginate @exceptions %>

<script type="text/javascript">
$(function() {
  $('.pid').click(function() {
    $('.exception').hide();
    $(this).siblings('.exception').show();
  });
});
</script>
