<p id="notice"><%= notice %></p>

<h1>Listing Bulk Action Messages</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Druid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulk_action_messages.each do |bulk_action_message| %>
      <tr>
        <td><%= bulk_action_message.message %></td>
        <td><%= bulk_action_message.druid %></td>
        <td><%= link_to 'Show', bulk_action_message %></td>
        <td><%= link_to 'Edit', edit_bulk_action_message_path(bulk_action_message) %></td>
        <td><%= link_to 'Destroy', bulk_action_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bulk action message', new_bulk_action_message_path %>
