<%= link_to "Home", root_path %>
|
<% if current_user %>
  <%= link_to "Log&nbsp;Out".html_safe, destroy_user_session_path %> [<%= link_to current_user, edit_user_registration_path %>]
  |
<% else %>
  <%= link_to 'Login', new_user_session_path %>
  |
<% end %>
<%= link_to "Feedback", 'mailto:argo-feedback@lists.stanford.edu' %>
  |

<% if not session[:groups].nil? 
	%><span class="impersonating-highlight">Impersonating:<%
		session[:groups].each do |group|
		%>
		<%= group%>
		<%
		end
		%></span><a href="/auth/forget_impersonated_groups">x</a>|<%
	else
		if current_user.is_admin %>
			<a href="/auth/groups.html">Impersonate</a> |
			<%
		end
	end
	%>
	<% if index_queue_depth>1000
			%> <span style="color:red; font-weight:bold">indexer backlog: <%= index_queue_depth%></span><%
		else 
		%> <span>indexer backlog: <%= index_queue_depth%></span>
		<%end%>

<br>
<%= link_to "Register&nbsp; Items".html_safe, register_items_path %>
<%if current_user.is_admin or current_user.is_manager %>
|
<%= link_to "Register&nbsp;APO".html_safe, url_for(:controller => '/apo', :action => :register) %>
<%end%>
