<% @presenter = ProfilePresenter.new(@response) %>

<h3>Profile</h3>

<div id="admin-policies">
  <h4>Admin Policies</h4>
  <table class='table table-fixed-layout'>
    <%= render partial: 'table_row',  collection: @presenter.apo_titles, as: :item %>
  </table>
</div>

<div id="collection">
  <h4>Collection</h4>
  <table class='table table-fixed-layout'>
    <%= render partial: 'table_row',  collection: @presenter.collection_titles, as: :item %>
  </table>
</div>

<div id='discovery'>
  <h4>Discovery</h4>
  <table class='table table-fixed-layout'>
    <tr>
      <td>Published to PURL</td>
      <td><%= @presenter.published_to_purl %>
    </tr>
    <tr>
      <td><h5>Released to</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row', collection: @presenter.released_to, as: :item %>
    <tr>
      <td><h5>Catkeys</h5></td><td></td>
    </tr>
    <tr>
      <td>has value</td>
      <td><%= @presenter.catkey['count'] %></td>
    </tr>
    <tr>
      <td>value missing</td>
      <td><%= @presenter.catkey['missing'] %></td>
    </tr>
  </table>
</div>

<div id='rights'>
  <h4>Rights</h4>
  <table class='table table-fixed-layout'>
    <%= render partial: 'table_row',  collection: @presenter.rights_descriptions, as: :item %>
  </table>
</div>

<div id='number-of-items'>
  <h4>Number of items</h4>
  <table class='table table-fixed-layout'>
    <%= render partial: 'table_row_pivot', collection: @presenter.type_status_pivot, as: :facet_field %>
  </table>
</div>

<div id='contents'>
  <h4>Contents</h4>
  <table class='table table-fixed-layout'>
    <%= render partial: 'table_row',  collection: @presenter.content_type, as: :item %>
    <tr>
      <td>Total files</td>
      <td><%= @presenter.content_file_count['sum'].to_i %></td>
    </tr>
    <tr>
      <td class='indented'>Shelved</td>
      <td><%= @presenter.shelved_content_file_count['sum'].to_i %></td>
    </tr>
    <tr>
      <td>Preserved file size</td>
      <td><%= number_to_human_size(@presenter.preserved_file_size['sum']) %></td>
    </tr>
  </table>
</div>

<div id='rights-information'>
  <h4>Rights information</h4>
  <table class='table table-fixed-layout'>
    <tr>
      <td><h5>Use & Reproduction</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row',  collection: @presenter.use_statement, as: :item %>
    <tr>
      <td><h5>Copyright</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row',  collection: @presenter.copyright, as: :item %>
    <tr>
      <td><h5>License</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row',  collection: @presenter.use_license_machine, as: :item %>
  </table>
</div>

<div id='searchworks-facet-values'>
  <h4>SearchWorks facet values</h4>
  <table class='table table-fixed-layout'>
    <tr>
      <td><h5>Resource Type</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row',  collection: @presenter.sw_resource_type, as: :item %>
    <tr>
      <td><h5>Date</h5></td><td></td>
    </tr>
    <tr>
      <td>has value</td>
      <td><%= @presenter.sw_date['count'] %></td>
    </tr>
    <tr>
      <td>value missing</td>
      <td><%= @presenter.sw_date['missing'] %></td>
    </tr>
    <tr>
      <td><h5>Language</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row',  collection: @presenter.sw_language, as: :item %>
    <tr>
      <td><h5>Topic</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row',  collection: @presenter.sw_topic, as: :item %>
    <tr>
      <td><h5>Region</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row',  collection: @presenter.sw_region, as: :item %>
    <tr>
      <td><h5>Era</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row',  collection: @presenter.sw_era, as: :item %>
    <tr>
      <td><h5>Genre</h5></td><td></td>
    </tr>
    <%= render partial: 'table_row',  collection: @presenter.sw_genre, as: :item %>
  </table>
</div>
