%html
  %head
    %title= @title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :head
  %body
    #container
      #header
        #header_text= webauth.login
        #header_image
          %img{:src => '../images/sulair_logo.png', :alt => 'Stanford University'}
      #content= yield
