<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui.min', 'application' %>
    <%= yield :head %>
    <%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.13.custom' %>
    <%= stylesheet_link_tag 'ui-override' %>
  </head>
  <body data-application-root="<%= ENV['RACK_BASE_URI'] %>">
    <div id='container'>
      <div id='header'>
        <span class='text right'><%= webauth.attributes['DISPLAYNAME'] || webauth.login %></span> 
        <%= link_to(image_tag('sulair_logo.png').html_safe, root_path) %>
        <span class='text'>Digital Library Systems and Services</span>
      </div>
      <div id='content'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
