%html
  %head
    %title= @title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :head
  %body
    #container
      #header
        %span.text.right= webauth.login
        %img{:src => '../images/sulair_logo.png', :alt => 'Stanford University'}
        %span.text= "Digital Library Systems and Services"
      #content= yield
